:root {
    --browser-area-z-index-toolbox: 2 !important;

    @media (-moz-windows-compositor) {
        -moz-default-appearance: -moz-win-glass !important;
    }
}

#navigator-toolbox {
    appearance: auto !important;
    -moz-default-appearance: toolbox !important;
    border-bottom-width: 0 !important;

    &[movingtab] > #nav-bar {
        pointer-events: auto !important;
    }
}

.browser-toolbar {
    box-shadow: none !important;
    appearance: none !important;
    background-color: -moz-Dialog !important;
    color: -moz-DialogText !important;
    border-block-start: 1px solid ThreeDHighlight !important;
    border-block-end: 1px solid ThreeDShadow !important;

    @media not (-moz-windows-classic) {
        & {
            background-color: transparent !important;
        }
    }
}

#notifications-toolbar {
    border: 0 !important;
    appearance: none !important;
    min-height: 0 !important;
}

toolbar[type="menubar"],
menubar {
    border-block-start-width: 0 !important;
    appearance: none !important;
    padding: 0 !important;
}

#mozGlassHandler {
    width: 100% !important;
    height: 100% !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    pointer-events: none !important;
    z-index: -1 !important;

    @media (-moz-windows-compositor) {
        -moz-default-appearance: -moz-win-exclude-glass !important;
        appearance: -moz-win-exclude-glass !important;
        background-color: -moz-Dialog !important;
    }
}

@media (-moz-windows-compositor) {
    #tabbrowser-tabbox {
        appearance: none !important;
    }
}