/* ::::: Firefox 1 ::::: */
#PopupSearchAutoComplete::part(content) {
  width: calc(var(--panel-width) - 35px) !important;
  display: flex !important;
  padding: 0 !important;
  border: 1px solid black !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  margin-inline-start: 35px !important;
  background-color: -moz-field !important;
}
#PopupSearchAutoComplete .autocomplete-richlistitem {
  padding: 4px 9px 2px 9px !important;
  color: -moz-FieldText !important;
  background-color: -moz-field !important;
}
#PopupSearchAutoComplete .autocomplete-richlistitem:hover {
  background-color: Highlight !important;
  color: HighlightText !important;
}
#PopupSearchAutoComplete .autocomplete-richlistitem .ac-type-icon,
#PopupSearchAutoComplete .autocomplete-richlistitem .ac-site-icon {
  visibility: collapse !important;
}

:host([namoroka-style-2]) {
  --search-glass: asset("Search-glass.png") !important;
  --search-close: asset("Search-close.png") !important;
}
:host([namoroka-style-2]) .textbox-search-icons {
  display: grid !important;
}
:host([namoroka-style-2]) .textbox-search-icons .textbox-search-icon {
  width: 16px !important;
  height: 16px !important;
  list-style-image: var(--search-glass) !important;
  -moz-image-region: rect(0, 16px, 16px, 0) !important;
}
:host([namoroka-style-2]) .textbox-search-icons .textbox-search-clear {
  width: 16px !important;
  height: 16px !important;
  list-style-image: var(--search-close) !important;
  -moz-image-region: rect(0, 16px, 16px, 0) !important;
}

:host .textbox-search-sign {
  display: none !important;
}

:host(:not([namoroka-style-2])) .textbox-search-icons {
  display: none !important;
}

:host([namoroka-style-2][searchbutton]) .textbox-search-icons .textbox-search-icon:not([disabled]):hover,
:host([namoroka-style-2]) .textbox-search-icons .textbox-search-clear:not([disabled]):hover {
  -moz-image-region: rect(0, 32px, 16px, 16px) !important;
}

:host([namoroka-style-2][searchbutton]) .textbox-search-icons .textbox-search-icon:not([disabled]):hover:active,
:host([namoroka-style-2]) .textbox-search-icons .textbox-search-clear:not([disabled]):hover:active {
  -moz-image-region: rect(0, 48px, 16px, 32px) !important;
}

:host([namoroka-style-2][namoroka-appearance-aero=true]) {
  --search-glass: asset("aero/Search-glass.png") !important;
  --search-close: asset("aero/Search-close.png") !important;
}

toolbarbutton menupopup[placespopup] {
  appearance: auto !important;
  -moz-default-appearance: menupopup !important;
  background-color: Menu !important;
  border: 1px solid -moz-Dialog !important;
  --panel-background: transparent !important;
  --panel-border-color: transparent !important;
  --nested-margin: -3px !important;
  --panel-shadow-margin: 0px !important;
  --panel-color: MenuText !important;
  --panel-padding: 0 !important;
}
toolbarbutton menupopup[placespopup] > :is(menu, menuitem) {
  appearance: auto !important;
  -moz-default-appearance: menuitem !important;
  max-width: 42em !important;
  margin: 0 !important;
  min-height: auto !important;
  padding: unset !important;
}
toolbarbutton menupopup[placespopup] > :is(menu, menuitem) .menu-text,
toolbarbutton menupopup[placespopup] > :is(menu, menuitem) .menu-iconic-text {
  margin-inline-start: 2px !important;
  padding-inline-end: 2px !important;
}
toolbarbutton menupopup[placespopup] > :is(menu, menuitem) .menu-text {
  padding-inline-start: 1.45em !important;
  appearance: auto !important;
  -moz-default-appearance: menuitemtext !important;
}
toolbarbutton menupopup[placespopup] > :is(menu, menuitem) .menu-right {
  appearance: auto !important;
  -moz-default-appearance: menuarrow !important;
  margin-inline-end: -2px !important;
  list-style-image: none !important;
  width: 1.28em !important;
  padding-top: 1px !important;
}
toolbarbutton menupopup[placespopup] > :is(menu, menuitem) .menu-accel, toolbarbutton menupopup[placespopup] > :is(menu, menuitem) .menu-iconic-accel {
  margin-inline: 0.74em 1.35em !important;
  margin-inline-start: 0.74em !important;
  color: inherit !important;
}
toolbarbutton menupopup[placespopup] > :is(.menu-iconic, .menuitem-iconic) .menu-iconic-left {
  appearance: auto !important;
  -moz-default-appearance: menuimage !important;
  padding-top: 2px !important;
  margin: 0 !important;
}
toolbarbutton menupopup[placespopup] menuseparator {
  appearance: auto !important;
  -moz-default-appearance: menuseparator !important;
  padding: 3px 1px 4px !important;
  border-top: 1px solid ThreeDShadow !important;
  border-bottom: 1px solid ThreeDHighlight !important;
  margin: 0 !important;
}
toolbarbutton menupopup[placespopup] menuseparator::before {
  content: none !important;
}

@media not (-moz-windows-non-native-menus) {
  :root:not([namoroka-style-1]) menupopup:not(#ContentSelectDropdownPopup),
  :root:not([namoroka-style-1]) toolbarbutton menupopup[placespopup] {
    appearance: none !important;
    border: 1px solid !important;
    border-top-color: ThreeDLightShadow !important;
    border-left-color: ThreeDLightShadow !important;
    border-bottom-color: ThreeDDarkShadow !important;
    border-right-color: ThreeDDarkShadow !important;
    box-shadow: inset -1px -1px 0 ThreeDShadow, inset 1px 1px 0 ThreeDHighlight !important;
    padding: 2px !important;
    background-color: Menu !important;
  }
  :root:not([namoroka-style-1]) menupopup:not(#ContentSelectDropdownPopup) menu,
  :root:not([namoroka-style-1]) menupopup:not(#ContentSelectDropdownPopup) menuitem,
  :root:not([namoroka-style-1]) toolbarbutton menupopup[placespopup] menu,
  :root:not([namoroka-style-1]) toolbarbutton menupopup[placespopup] menuitem {
    appearance: none !important;
    align-items: center !important;
    color: MenuText !important;
    font: menu !important;
    border: 0 !important;
    border-radius: 0 !important;
    padding: 2px !important;
  }
  :root:not([namoroka-style-1]) menupopup:not(#ContentSelectDropdownPopup) menu[default=true],
  :root:not([namoroka-style-1]) menupopup:not(#ContentSelectDropdownPopup) menuitem[default=true],
  :root:not([namoroka-style-1]) toolbarbutton menupopup[placespopup] menu[default=true],
  :root:not([namoroka-style-1]) toolbarbutton menupopup[placespopup] menuitem[default=true] {
    font-weight: bold !important;
  }
  :root:not([namoroka-style-1]) menupopup:not(#ContentSelectDropdownPopup) menu[_moz-menuactive=true],
  :root:not([namoroka-style-1]) menupopup:not(#ContentSelectDropdownPopup) menuitem[_moz-menuactive=true],
  :root:not([namoroka-style-1]) toolbarbutton menupopup[placespopup] menu[_moz-menuactive=true],
  :root:not([namoroka-style-1]) toolbarbutton menupopup[placespopup] menuitem[_moz-menuactive=true] {
    background-color: Highlight !important;
    color: HighlightText !important;
  }
  :root:not([namoroka-style-1]) menupopup:not(#ContentSelectDropdownPopup) menu[disabled=true], :root:not([namoroka-style-1]) menupopup:not(#ContentSelectDropdownPopup) menu[_moz-menuactive=true][disabled=true],
  :root:not([namoroka-style-1]) menupopup:not(#ContentSelectDropdownPopup) menuitem[disabled=true],
  :root:not([namoroka-style-1]) menupopup:not(#ContentSelectDropdownPopup) menuitem[_moz-menuactive=true][disabled=true],
  :root:not([namoroka-style-1]) toolbarbutton menupopup[placespopup] menu[disabled=true],
  :root:not([namoroka-style-1]) toolbarbutton menupopup[placespopup] menu[_moz-menuactive=true][disabled=true],
  :root:not([namoroka-style-1]) toolbarbutton menupopup[placespopup] menuitem[disabled=true],
  :root:not([namoroka-style-1]) toolbarbutton menupopup[placespopup] menuitem[_moz-menuactive=true][disabled=true] {
    color: GrayText !important;
    text-shadow: none !important;
  }
  :root:not([namoroka-style-1]) menupopup:not(#ContentSelectDropdownPopup) .menu-text,
  :root:not([namoroka-style-1]) menupopup:not(#ContentSelectDropdownPopup) .menu-iconic-left,
  :root:not([namoroka-style-1]) menupopup:not(#ContentSelectDropdownPopup) .menu-iconic-text,
  :root:not([namoroka-style-1]) toolbarbutton menupopup[placespopup] .menu-text,
  :root:not([namoroka-style-1]) toolbarbutton menupopup[placespopup] .menu-iconic-left,
  :root:not([namoroka-style-1]) toolbarbutton menupopup[placespopup] .menu-iconic-text {
    appearance: none !important;
    margin: 0px 2px 0px 0px !important;
    color: inherit !important;
    padding: 0 !important;
  }
  :root:not([namoroka-style-1]) menupopup:not(#ContentSelectDropdownPopup) .menu-text,
  :root:not([namoroka-style-1]) toolbarbutton menupopup[placespopup] .menu-text {
    margin-inline-start: 18px !important;
    font-weight: inherit !important;
  }
  :root:not([namoroka-style-1]) menupopup:not(#ContentSelectDropdownPopup) .menu-accel,
  :root:not([namoroka-style-1]) menupopup:not(#ContentSelectDropdownPopup) .menu-iconic-accel,
  :root:not([namoroka-style-1]) toolbarbutton menupopup[placespopup] .menu-accel,
  :root:not([namoroka-style-1]) toolbarbutton menupopup[placespopup] .menu-iconic-accel {
    margin: 0px 2px 0px 7px !important;
    padding: 0 !important;
    padding-right: 14px !important;
    color: inherit !important;
  }
  :root:not([namoroka-style-1]) menupopup:not(#ContentSelectDropdownPopup) .menu-iconic-left,
  :root:not([namoroka-style-1]) toolbarbutton menupopup[placespopup] .menu-iconic-left {
    appearance: none !important;
    width: 16px !important;
    padding: 0 !important;
  }
  :root:not([namoroka-style-1]) menupopup:not(#ContentSelectDropdownPopup) .menu-iconic-left .menu-iconic-icon:not([src]),
  :root:not([namoroka-style-1]) toolbarbutton menupopup[placespopup] .menu-iconic-left .menu-iconic-icon:not([src]) {
    width: unset !important;
    height: unset !important;
  }
  :root:not([namoroka-style-1]) menupopup:not(#ContentSelectDropdownPopup) menuseparator,
  :root:not([namoroka-style-1]) toolbarbutton menupopup[placespopup] menuseparator {
    appearance: none !important;
    padding: 0 !important;
    margin: 2px 3px !important;
    border-top: 1px solid ThreeDShadow !important;
    border-bottom: 1px solid ThreeDHighlight !important;
  }
  :root:not([namoroka-style-1]) menupopup:not(#ContentSelectDropdownPopup) menuitem[checked=true],
  :root:not([namoroka-style-1]) toolbarbutton menupopup[placespopup] menuitem[checked=true] {
    list-style-image: asset("menu/menu-check.gif") !important;
  }
  :root:not([namoroka-style-1]) menupopup:not(#ContentSelectDropdownPopup) menuitem[checked=true] .menu-iconic-icon,
  :root:not([namoroka-style-1]) toolbarbutton menupopup[placespopup] menuitem[checked=true] .menu-iconic-icon {
    display: flex !important;
  }
  :root:not([namoroka-style-1]) menupopup:not(#ContentSelectDropdownPopup) menuitem[checked=true][disabled=true],
  :root:not([namoroka-style-1]) toolbarbutton menupopup[placespopup] menuitem[checked=true][disabled=true] {
    list-style-image: asset("menu/menu-check-disabled.gif") !important;
  }
  :root:not([namoroka-style-1]) menupopup:not(#ContentSelectDropdownPopup) menuitem[checked=true][_moz-menuactive=true],
  :root:not([namoroka-style-1]) toolbarbutton menupopup[placespopup] menuitem[checked=true][_moz-menuactive=true] {
    list-style-image: asset("menu/menu-check-hover.gif") !important;
  }
  :root:not([namoroka-style-1]) menupopup:not(#ContentSelectDropdownPopup) menuitem[checked=true][type=radio],
  :root:not([namoroka-style-1]) toolbarbutton menupopup[placespopup] menuitem[checked=true][type=radio] {
    list-style-image: asset("menu/menu-radio.gif") !important;
  }
  :root:not([namoroka-style-1]) menupopup:not(#ContentSelectDropdownPopup) menuitem[checked=true][type=radio][disabled=true],
  :root:not([namoroka-style-1]) toolbarbutton menupopup[placespopup] menuitem[checked=true][type=radio][disabled=true] {
    list-style-image: asset("menu/menu-radio-disabled.gif") !important;
  }
  :root:not([namoroka-style-1]) menupopup:not(#ContentSelectDropdownPopup) menuitem[checked=true][type=radio][_moz-menuactive=true],
  :root:not([namoroka-style-1]) toolbarbutton menupopup[placespopup] menuitem[checked=true][type=radio][_moz-menuactive=true] {
    list-style-image: asset("menu/menu-radio-hover.gif") !important;
  }
  :root:not([namoroka-style-1]) menupopup:not(#ContentSelectDropdownPopup) .menu-right,
  :root:not([namoroka-style-1]) toolbarbutton menupopup[placespopup] .menu-right {
    width: 8px !important;
    padding: 0 !important;
    appearance: none !important;
    margin: 0px 0px 0px 6px !important;
    list-style-image: asset("menu/Menu-arrow.png") !important;
  }
  :root:not([namoroka-style-1]) menupopup:not(#ContentSelectDropdownPopup) .menu-right[_moz-menuactive=true],
  :root:not([namoroka-style-1]) toolbarbutton menupopup[placespopup] .menu-right[_moz-menuactive=true] {
    list-style-image: asset("menu/Menu-arrow-hover.png") !important;
  }
  :root:not([namoroka-style-1]) menupopup:not(#ContentSelectDropdownPopup) .menu-right[disabled=true],
  :root:not([namoroka-style-1]) toolbarbutton menupopup[placespopup] .menu-right[disabled=true] {
    list-style-image: asset("menu/Menu-arrow-disabled.png") !important;
  }
  :root:not([namoroka-style-1]) menupopup:not(#ContentSelectDropdownPopup)::part(content),
  :root:not([namoroka-style-1]) toolbarbutton menupopup[placespopup]::part(content) {
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
  }
}
#context-sep-navigation {
  margin-inline-start: unset !important;
}

#context-navigation {
  background: transparent !important;
  flex-direction: column !important;
}
#context-navigation > .menuitem-iconic {
  width: unset !important;
}
#context-navigation > .menuitem-iconic > .menu-iconic-left {
  appearance: auto !important;
}
#context-navigation > .menuitem-iconic > .menu-iconic-left > .menu-iconic-icon {
  display: none !important;
}
#context-navigation > .menuitem-iconic .menu-iconic-text {
  display: block !important;
}

.autoscroller {
  width: 28px !important;
  height: 28px !important;
  background: asset("autoscroll_all.png") !important;
}
.autoscroller[scrolldir=NS] {
  background: asset("autoscroll_v.png") !important;
}
.autoscroller[scrolldir=EW] {
  background: asset("autoscroll_h.png") !important;
}
.autoscroller::part(content) {
  display: none !important;
}
:root[namoroka-style-2] .autoscroller {
  background: asset("autoscroll.png") !important;
  background-position-x: -56px !important;
}
:root[namoroka-style-2] .autoscroller[namoroka-appearance-aero] {
  background: asset("aero/autoscroll.png") !important;
}
:root[namoroka-style-2] .autoscroller[scrolldir=NS] {
  background-position-y: -28px !important;
}
:root[namoroka-style-2] .autoscroller[scrolldir=EW] {
  background-position-y: -56px !important;
}

#tabbrowser-arrowscrollbox:not([namoroka-style-1])::part(scrollbutton-up), #tabbrowser-arrowscrollbox:not([namoroka-style-1])::part(scrollbutton-down) {
  width: 18px !important;
  border: 1px solid transparent !important;
  border-radius: 0 !important;
  background-color: transparent !important;
}
#tabbrowser-arrowscrollbox:not([namoroka-style-1]):not([scrolledtostart])::part(scrollbutton-up):hover, #tabbrowser-arrowscrollbox:not([namoroka-style-1]):not([scrolledtostart])::part(scrollbutton-down):hover, #tabbrowser-arrowscrollbox:not([namoroka-style-1]):not([scrolledtoend])::part(scrollbutton-up):hover, #tabbrowser-arrowscrollbox:not([namoroka-style-1]):not([scrolledtoend])::part(scrollbutton-down):hover {
  border-color: ThreeDHighlight ThreeDShadow ThreeDShadow ThreeDHighlight !important;
}
#tabbrowser-arrowscrollbox:not([namoroka-style-1]):not([scrolledtostart])::part(scrollbutton-up):hover:active, #tabbrowser-arrowscrollbox:not([namoroka-style-1]):not([scrolledtostart])::part(scrollbutton-down):hover:active, #tabbrowser-arrowscrollbox:not([namoroka-style-1]):not([scrolledtoend])::part(scrollbutton-up):hover:active, #tabbrowser-arrowscrollbox:not([namoroka-style-1]):not([scrolledtoend])::part(scrollbutton-down):hover:active {
  border-color: ThreeDShadow ThreeDHighlight ThreeDHighlight ThreeDShadow !important;
}

#toolbar-menubar toolbarspring {
  max-width: 100% !important;
}
#toolbar-menubar spacer[style*="order: 1000;"] {
  visibility: collapse !important;
}

#navigator-throbber {
  appearance: none !important;
  -moz-user-focus: ignore !important;
  margin: 0 !important;
  border: 0 !important;
  padding: 1px 5px 2px 4px !important;
  min-width: 0 !important;
  background-color: transparent !important;
  list-style-image: asset("Throbber-small.png") !important;
}
#navigator-throbber[busy=true] {
  list-style-image: asset("Throbber-small.gif") !important;
  opacity: 0.5 !important;
}

:root:not([namoroka-style-2]) menupopup menu[_moz-menuactive=true],
:root:not([namoroka-style-2]) menupopup menuitem[_moz-menuactive=true] {
  background-color: Highlight !important;
  color: HighlightText !important;
}

#main-window #main-menubar {
  border: 0 !important;
  background-color: transparent !important;
  border-radius: 0 !important;
  text-shadow: none !important;
}

menu {
  color: MenuText !important;
  font: menu !important;
  border-radius: 0 !important;
}
menu[disabled=true], menu[_moz-menuactive=true][disabled=true] {
  color: GrayText !important;
  text-shadow: none !important;
}

menubar > menu {
  border: 1px solid transparent !important;
  background-color: transparent !important;
  padding: 1px 5px 2px 7px !important;
  margin: 1px 0px 1px 0px !important;
}
menubar > menu[_moz-menuactive=true] {
  border-top: 1px solid ThreeDHighlight !important;
  border-right: 1px solid ThreeDShadow !important;
  border-bottom: 1px solid ThreeDShadow !important;
  border-left: 1px solid ThreeDHighlight !important;
}
menubar > menu[_moz-menuactive=true][open=true] {
  border-top: 1px solid ThreeDShadow !important;
  border-right: 1px solid ThreeDHighlight !important;
  border-bottom: 1px solid ThreeDHighlight !important;
  border-left: 1px solid ThreeDShadow !important;
}
menubar > menu .menubar-text {
  margin: 0 2px 0 0 !important;
  color: inherit !important;
}

#menubar-items {
  margin: 0 !important;
}

menuitem:is([default=true], .spell-suggestion), menucaption {
  font-weight: bold !important;
}

/* ::::: Firefox 2 ::::: */
:root[namoroka-style-1] :root[namoroka-style-1] {
  --arrowscrollbox-left-image: asset("icons/tab-arrow-start.png");
  --arrowscrollbox-right-image: asset("icons/tab-arrow-end.png");
}
:root[namoroka-style-1] #tabbrowser-arrowscrollbox::part(overflow-start-indicator),
:root[namoroka-style-1] #tabbrowser-arrowscrollbox::part(overflow-end-indicator) {
  display: none !important;
}
:root[namoroka-style-1] #tabbrowser-arrowscrollbox[namoroka-style-1]::part(scrollbutton-up),
:root[namoroka-style-1] #tabbrowser-arrowscrollbox[namoroka-style-1]::part(scrollbutton-down) {
  width: 18px !important;
  height: 23px !important;
  border: 0 !important;
  border-radius: 0 !important;
  background-color: -moz-dialog !important;
  margin: 0 !important;
  margin-block-start: 1px !important;
  opacity: 1 !important;
}
:root[namoroka-style-1] #tabbrowser-arrowscrollbox[namoroka-style-1]::part(scrollbutton-up) {
  border-top-right-radius: 5px !important;
  background-image: asset("icons/tab-arrow-start-bkgnd-enabled.png") !important;
}
:root[namoroka-style-1] #tabbrowser-arrowscrollbox[namoroka-style-1]:not([scrolledtostart])::part(scrollbutton-up):hover {
  background-image: asset("icons/tab-arrow-start-bkgnd-hover.png") !important;
}
:root[namoroka-style-1] #tabbrowser-arrowscrollbox[namoroka-style-1][scrolledtostart]::part(scrollbutton-up) {
  background-image: asset("icons/tab-arrow-start-bkgnd-disabled.png") !important;
}
:root[namoroka-style-1] #tabbrowser-arrowscrollbox[namoroka-style-1]::part(scrollbutton-down) {
  border-top-left-radius: 5px !important;
  background-image: asset("icons/tab-arrow-end-bkgnd-enabled.png") !important;
}
:root[namoroka-style-1] #tabbrowser-arrowscrollbox[namoroka-style-1]:not([scrolledtoend])::part(scrollbutton-down):hover {
  background-image: asset("icons/tab-arrow-end-bkgnd-hover.png") !important;
}
:root[namoroka-style-1] #tabbrowser-arrowscrollbox[namoroka-style-1][scrolledtoend]::part(scrollbutton-down) {
  background-image: asset("icons/tab-arrow-end-bkgnd-disabled.png") !important;
}
:root[namoroka-style-1] #tabbrowser-arrowscrollbox:not([overflowing=true])::part(scrollbox) {
  padding-inline-start: 2px !important;
}
:root[namoroka-style-1]:not([namoroka-style-2]) menupopup menu,
:root[namoroka-style-1]:not([namoroka-style-2]) menupopup menuitem {
  color: MenuText !important;
  font: menu !important;
}
:root[namoroka-style-1]:not([namoroka-style-2]) menupopup menu[disabled=true], :root[namoroka-style-1]:not([namoroka-style-2]) menupopup menu[_moz-menuactive=true][disabled=true],
:root[namoroka-style-1]:not([namoroka-style-2]) menupopup menuitem[disabled=true],
:root[namoroka-style-1]:not([namoroka-style-2]) menupopup menuitem[_moz-menuactive=true][disabled=true] {
  color: GrayText !important;
  text-shadow: none !important;
}
:root[namoroka-style-1]:not([namoroka-style-2]) menupopup menuitem[_moz-menuactive=true] {
  background-color: Highlight !important;
  color: HighlightText !important;
}
:root[namoroka-style-1]:not([namoroka-style-2]) menubar > menu {
  font: menu !important;
  color: MenuText !important;
  border: 1px solid transparent !important;
  background-color: transparent !important;
  margin: 0 !important;
  padding-block-start: 1px !important;
  padding-inline-start: 2px !important;
  padding-block-end: 2px !important;
  padding-inline-end: 3px !important;
  margin-top: 0px !important;
  margin-bottom: 1px !important;
}
:root[namoroka-style-1]:not([namoroka-style-2]) menubar > menu[_moz-menuactive=true] {
  background-color: Highlight !important;
  color: HighlightText !important;
  padding-block-start: 0px !important;
  padding-inline-start: 2px !important;
  padding-block-end: 2px !important;
  padding-inline-end: 3px !important;
  border-color: transparent !important;
}
:root[namoroka-style-1]:not([namoroka-style-2]) menubar > menu[_moz-menuactive=true][open=true] {
  border-color: transparent !important;
}
:root[namoroka-style-1]:not([namoroka-style-2]) menubar > menu[disabled=true], :root[namoroka-style-1]:not([namoroka-style-2]) menubar > menu[_moz-menuactive=true][disabled=true] {
  color: GrayText !important;
}
:root[namoroka-style-1]:not([namoroka-style-2]) menubar > menu .menubar-text {
  padding: 0 !important;
  padding-top: 1px !important;
  margin-block-start: 1px !important;
  margin-inline-end: 4px !important;
  margin-block-end: 1px !important;
  margin-inline-start: 5px !important;
  color: inherit !important;
}
@media not (-moz-windows-non-native-menus) {
  :root[namoroka-style-1]:not([namoroka-style-2]) menupopup:not(#ContentSelectDropdownPopup),
  :root[namoroka-style-1]:not([namoroka-style-2]) toolbarbutton menupopup[placespopup] {
    appearance: none !important;
    padding: 2px !important;
    border: 1px solid ThreeDShadow !important;
    background-color: menu !important;
  }
  :root[namoroka-style-1]:not([namoroka-style-2]) menupopup:not(#ContentSelectDropdownPopup) menu,
  :root[namoroka-style-1]:not([namoroka-style-2]) menupopup:not(#ContentSelectDropdownPopup) menuitem,
  :root[namoroka-style-1]:not([namoroka-style-2]) toolbarbutton menupopup[placespopup] menu,
  :root[namoroka-style-1]:not([namoroka-style-2]) toolbarbutton menupopup[placespopup] menuitem {
    appearance: none !important;
    color: MenuText !important;
    font: menu !important;
    align-items: center !important;
    border: 1px solid transparent !important;
    border-radius: 0 !important;
  }
  :root[namoroka-style-1]:not([namoroka-style-2]) menupopup:not(#ContentSelectDropdownPopup) menu[default=true],
  :root[namoroka-style-1]:not([namoroka-style-2]) menupopup:not(#ContentSelectDropdownPopup) menuitem[default=true],
  :root[namoroka-style-1]:not([namoroka-style-2]) toolbarbutton menupopup[placespopup] menu[default=true],
  :root[namoroka-style-1]:not([namoroka-style-2]) toolbarbutton menupopup[placespopup] menuitem[default=true] {
    font-weight: bold !important;
  }
  :root[namoroka-style-1]:not([namoroka-style-2]) menupopup:not(#ContentSelectDropdownPopup) menu[_moz-menuactive=true],
  :root[namoroka-style-1]:not([namoroka-style-2]) menupopup:not(#ContentSelectDropdownPopup) menuitem[_moz-menuactive=true],
  :root[namoroka-style-1]:not([namoroka-style-2]) toolbarbutton menupopup[placespopup] menu[_moz-menuactive=true],
  :root[namoroka-style-1]:not([namoroka-style-2]) toolbarbutton menupopup[placespopup] menuitem[_moz-menuactive=true] {
    background-color: Highlight !important;
    color: HighlightText !important;
  }
  :root[namoroka-style-1]:not([namoroka-style-2]) menupopup:not(#ContentSelectDropdownPopup) menu[disabled=true], :root[namoroka-style-1]:not([namoroka-style-2]) menupopup:not(#ContentSelectDropdownPopup) menu[_moz-menuactive=true][disabled=true],
  :root[namoroka-style-1]:not([namoroka-style-2]) menupopup:not(#ContentSelectDropdownPopup) menuitem[disabled=true],
  :root[namoroka-style-1]:not([namoroka-style-2]) menupopup:not(#ContentSelectDropdownPopup) menuitem[_moz-menuactive=true][disabled=true],
  :root[namoroka-style-1]:not([namoroka-style-2]) toolbarbutton menupopup[placespopup] menu[disabled=true],
  :root[namoroka-style-1]:not([namoroka-style-2]) toolbarbutton menupopup[placespopup] menu[_moz-menuactive=true][disabled=true],
  :root[namoroka-style-1]:not([namoroka-style-2]) toolbarbutton menupopup[placespopup] menuitem[disabled=true],
  :root[namoroka-style-1]:not([namoroka-style-2]) toolbarbutton menupopup[placespopup] menuitem[_moz-menuactive=true][disabled=true] {
    color: GrayText !important;
  }
  :root[namoroka-style-1]:not([namoroka-style-2]) menupopup:not(#ContentSelectDropdownPopup) .menu-accel,
  :root[namoroka-style-1]:not([namoroka-style-2]) menupopup:not(#ContentSelectDropdownPopup) .menu-iconic-accel,
  :root[namoroka-style-1]:not([namoroka-style-2]) menupopup:not(#ContentSelectDropdownPopup) .menu-text,
  :root[namoroka-style-1]:not([namoroka-style-2]) menupopup:not(#ContentSelectDropdownPopup) .menu-iconic-text,
  :root[namoroka-style-1]:not([namoroka-style-2]) toolbarbutton menupopup[placespopup] .menu-accel,
  :root[namoroka-style-1]:not([namoroka-style-2]) toolbarbutton menupopup[placespopup] .menu-iconic-accel,
  :root[namoroka-style-1]:not([namoroka-style-2]) toolbarbutton menupopup[placespopup] .menu-text,
  :root[namoroka-style-1]:not([namoroka-style-2]) toolbarbutton menupopup[placespopup] .menu-iconic-text {
    appearance: none !important;
    margin-block: 2px !important;
    margin-inline-start: 1px !important;
    margin-inline-end: 2px !important;
    padding: 0 !important;
    color: inherit !important;
  }
  :root[namoroka-style-1]:not([namoroka-style-2]) menupopup:not(#ContentSelectDropdownPopup) .menu-text,
  :root[namoroka-style-1]:not([namoroka-style-2]) toolbarbutton menupopup[placespopup] .menu-text {
    margin-inline-start: 17px !important;
    font-weight: inherit !important;
  }
  :root[namoroka-style-1]:not([namoroka-style-2]) menupopup:not(#ContentSelectDropdownPopup) .menu-accel,
  :root[namoroka-style-1]:not([namoroka-style-2]) menupopup:not(#ContentSelectDropdownPopup) .menu-iconic-accel,
  :root[namoroka-style-1]:not([namoroka-style-2]) toolbarbutton menupopup[placespopup] .menu-accel,
  :root[namoroka-style-1]:not([namoroka-style-2]) toolbarbutton menupopup[placespopup] .menu-iconic-accel {
    padding-inline-end: 17px !important;
    margin-inline-start: 5px !important;
    color: inherit !important;
  }
  :root[namoroka-style-1]:not([namoroka-style-2]) menupopup:not(#ContentSelectDropdownPopup) .menu-iconic-left,
  :root[namoroka-style-1]:not([namoroka-style-2]) toolbarbutton menupopup[placespopup] .menu-iconic-left {
    appearance: none !important;
    width: unset !important;
    min-width: 12px !important;
    margin-top: 2px !important;
    margin-bottom: 2px !important;
    margin-inline-start: 2px !important;
    margin-inline-end: 2px !important;
    padding: 0 !important;
  }
  :root[namoroka-style-1]:not([namoroka-style-2]) menupopup:not(#ContentSelectDropdownPopup) .menu-iconic-left .menu-iconic-icon:not([src]),
  :root[namoroka-style-1]:not([namoroka-style-2]) toolbarbutton menupopup[placespopup] .menu-iconic-left .menu-iconic-icon:not([src]) {
    width: unset !important;
    height: unset !important;
  }
  :root[namoroka-style-1]:not([namoroka-style-2]) menupopup:not(#ContentSelectDropdownPopup) menuitem[style*=list-style-image] .menu-iconic-left .menu-iconic-icon:not([src]),
  :root[namoroka-style-1]:not([namoroka-style-2]) toolbarbutton menupopup[placespopup] menuitem[style*=list-style-image] .menu-iconic-left .menu-iconic-icon:not([src]) {
    width: 16px !important;
    height: 16px !important;
  }
  :root[namoroka-style-1]:not([namoroka-style-2]) menupopup:not(#ContentSelectDropdownPopup) menuseparator,
  :root[namoroka-style-1]:not([namoroka-style-2]) toolbarbutton menupopup[placespopup] menuseparator {
    appearance: none !important;
    padding: 0 !important;
    margin: 3px 1px 4px 1px !important;
    border-top: 1px solid ThreeDShadow !important;
    border-bottom: 1px solid ThreeDHighlight !important;
  }
  :root[namoroka-style-1]:not([namoroka-style-2]) menupopup:not(#ContentSelectDropdownPopup) menuitem[checked=true],
  :root[namoroka-style-1]:not([namoroka-style-2]) toolbarbutton menupopup[placespopup] menuitem[checked=true] {
    list-style-image: asset("menu/menu-check.gif") !important;
  }
  :root[namoroka-style-1]:not([namoroka-style-2]) menupopup:not(#ContentSelectDropdownPopup) menuitem[checked=true] .menu-iconic-icon,
  :root[namoroka-style-1]:not([namoroka-style-2]) toolbarbutton menupopup[placespopup] menuitem[checked=true] .menu-iconic-icon {
    display: flex !important;
  }
  :root[namoroka-style-1]:not([namoroka-style-2]) menupopup:not(#ContentSelectDropdownPopup) menuitem[checked=true][disabled=true],
  :root[namoroka-style-1]:not([namoroka-style-2]) toolbarbutton menupopup[placespopup] menuitem[checked=true][disabled=true] {
    list-style-image: asset("menu/menu-check-disabled.gif") !important;
  }
  :root[namoroka-style-1]:not([namoroka-style-2]) menupopup:not(#ContentSelectDropdownPopup) menuitem[checked=true][_moz-menuactive=true],
  :root[namoroka-style-1]:not([namoroka-style-2]) toolbarbutton menupopup[placespopup] menuitem[checked=true][_moz-menuactive=true] {
    list-style-image: asset("menu/menu-check-hover.gif") !important;
  }
  :root[namoroka-style-1]:not([namoroka-style-2]) menupopup:not(#ContentSelectDropdownPopup) menuitem[checked=true][type=radio],
  :root[namoroka-style-1]:not([namoroka-style-2]) toolbarbutton menupopup[placespopup] menuitem[checked=true][type=radio] {
    list-style-image: asset("menu/menu-radio.gif") !important;
  }
  :root[namoroka-style-1]:not([namoroka-style-2]) menupopup:not(#ContentSelectDropdownPopup) menuitem[checked=true][type=radio][disabled=true],
  :root[namoroka-style-1]:not([namoroka-style-2]) toolbarbutton menupopup[placespopup] menuitem[checked=true][type=radio][disabled=true] {
    list-style-image: asset("menu/menu-radio-disabled.gif") !important;
  }
  :root[namoroka-style-1]:not([namoroka-style-2]) menupopup:not(#ContentSelectDropdownPopup) menuitem[checked=true][type=radio][_moz-menuactive=true],
  :root[namoroka-style-1]:not([namoroka-style-2]) toolbarbutton menupopup[placespopup] menuitem[checked=true][type=radio][_moz-menuactive=true] {
    list-style-image: asset("menu/menu-radio-hover.gif") !important;
  }
  :root[namoroka-style-1]:not([namoroka-style-2]) menupopup:not(#ContentSelectDropdownPopup) .menu-right,
  :root[namoroka-style-1]:not([namoroka-style-2]) toolbarbutton menupopup[placespopup] .menu-right {
    width: unset !important;
    padding: 0 !important;
    appearance: none !important;
    margin-block-start: 0px !important;
    margin-block-end: 1px !important;
    margin-inline-start: 0px !important;
    margin-inline-end: 6px !important;
    list-style-image: asset("menu/Menu-arrow.png") !important;
  }
  :root[namoroka-style-1]:not([namoroka-style-2]) menupopup:not(#ContentSelectDropdownPopup) .menu-right[_moz-menuactive=true],
  :root[namoroka-style-1]:not([namoroka-style-2]) toolbarbutton menupopup[placespopup] .menu-right[_moz-menuactive=true] {
    list-style-image: asset("menu/Menu-arrow-hover.png") !important;
  }
  :root[namoroka-style-1]:not([namoroka-style-2]) menupopup:not(#ContentSelectDropdownPopup) .menu-right[disabled=true],
  :root[namoroka-style-1]:not([namoroka-style-2]) toolbarbutton menupopup[placespopup] .menu-right[disabled=true] {
    list-style-image: asset("menu/Menu-arrow-disabled.png") !important;
  }
  :root[namoroka-style-1]:not([namoroka-style-2]) menupopup:not(#ContentSelectDropdownPopup)::part(content),
  :root[namoroka-style-1]:not([namoroka-style-2]) toolbarbutton menupopup[placespopup]::part(content) {
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
  }
}
:root[namoroka-style-1] menuitem {
  font: menu !important;
}
:root:not([namoroka-style-1]) :root[namoroka-style-1] menuitem:not([disabled=true], [_moz-menuactive=true]) {
  color: MenuText !important;
}
:root[namoroka-style-1] menuitem[disabled=true], :root[namoroka-style-1] menuitem[_moz-menuactive=true][disabled=true] {
  color: GrayText !important;
  text-shadow: none !important;
}

/* ::::: Firefox 3 ::::: */
:root[namoroka-style-2] #navigator-throbber {
  padding: 1px 6px 2px 4px !important;
  list-style-image: asset("icons/notloading_16.png") !important;
}
:root[namoroka-style-2] #navigator-throbber[busy=true] {
  list-style-image: asset("icons/loading_16.png") !important;
  opacity: 1 !important;
}
:root[namoroka-style-2] menubar > menu {
  appearance: menuitem !important;
  color: MenuText !important;
  font: menu !important;
  border: 2px solid transparent !important;
  margin: 0 !important;
  padding: 0 !important;
}
:root[namoroka-style-2] menubar > menu[_moz-menuactive=true] {
  padding: 0 !important;
}
:root[namoroka-style-2] menubar > menu[_moz-menuactive=true][open=true] {
  border-width: 3px 1px 1px 3px !important;
}
:root[namoroka-style-2] menubar > menu[_moz-menuactive=true], :root[namoroka-style-2] menubar > menu[_moz-menuactive=true][open=true] {
  color: -moz-menubarhovertext !important;
}
:root[namoroka-style-2] menubar > menu .menubar-text {
  padding: 0 !important;
  margin: 1px 6px 2px 6px !important;
  color: inherit !important;
}
@media not (-moz-windows-non-native-menus) {
  :root[namoroka-style-2] menupopup:not(#ContentSelectDropdownPopup),
  :root[namoroka-style-2] toolbarbutton menupopup[placespopup] {
    appearance: menupopup !important;
    border: 1px solid !important;
    border-top-color: ThreeDLightShadow !important;
    border-left-color: ThreeDLightShadow !important;
    border-bottom-color: ThreeDDarkShadow !important;
    border-right-color: ThreeDDarkShadow !important;
    padding: 2px !important;
    background-color: Menu !important;
  }
}
@media (not (-moz-windows-non-native-menus)) and (-moz-windows-classic) {
  :root[namoroka-style-2] menupopup:not(#ContentSelectDropdownPopup),
  :root[namoroka-style-2] toolbarbutton menupopup[placespopup] {
    box-shadow: inset -1px -1px 0 ThreeDShadow, inset 1px 1px 0 ThreeDHighlight !important;
  }
}
@media not (-moz-windows-non-native-menus) {
  :root[namoroka-style-2] menupopup:not(#ContentSelectDropdownPopup) menu,
  :root[namoroka-style-2] menupopup:not(#ContentSelectDropdownPopup) menuitem,
  :root[namoroka-style-2] toolbarbutton menupopup[placespopup] menu,
  :root[namoroka-style-2] toolbarbutton menupopup[placespopup] menuitem {
    -moz-default-appearance: menuitem !important;
    appearance: auto !important;
    color: MenuText !important;
    font: menu !important;
    align-items: center !important;
  }
  :root[namoroka-style-2] menupopup:not(#ContentSelectDropdownPopup) menu[default=true],
  :root[namoroka-style-2] menupopup:not(#ContentSelectDropdownPopup) menuitem[default=true],
  :root[namoroka-style-2] toolbarbutton menupopup[placespopup] menu[default=true],
  :root[namoroka-style-2] toolbarbutton menupopup[placespopup] menuitem[default=true] {
    font-weight: bold !important;
  }
}
@media (not (-moz-windows-non-native-menus)) and (-moz-windows-classic) {
  :root[namoroka-style-2] menupopup:not(#ContentSelectDropdownPopup) menu[_moz-menuactive=true],
  :root[namoroka-style-2] menupopup:not(#ContentSelectDropdownPopup) menuitem[_moz-menuactive=true],
  :root[namoroka-style-2] toolbarbutton menupopup[placespopup] menu[_moz-menuactive=true],
  :root[namoroka-style-2] toolbarbutton menupopup[placespopup] menuitem[_moz-menuactive=true] {
    background-color: Highlight !important;
    color: HighlightText !important;
  }
}
@media not (-moz-windows-non-native-menus) {
  :root[namoroka-style-2] menupopup:not(#ContentSelectDropdownPopup) menu[disabled=true], :root[namoroka-style-2] menupopup:not(#ContentSelectDropdownPopup) menu[_moz-menuactive=true][disabled=true],
  :root[namoroka-style-2] menupopup:not(#ContentSelectDropdownPopup) menuitem[disabled=true],
  :root[namoroka-style-2] menupopup:not(#ContentSelectDropdownPopup) menuitem[_moz-menuactive=true][disabled=true],
  :root[namoroka-style-2] toolbarbutton menupopup[placespopup] menu[disabled=true],
  :root[namoroka-style-2] toolbarbutton menupopup[placespopup] menu[_moz-menuactive=true][disabled=true],
  :root[namoroka-style-2] toolbarbutton menupopup[placespopup] menuitem[disabled=true],
  :root[namoroka-style-2] toolbarbutton menupopup[placespopup] menuitem[_moz-menuactive=true][disabled=true] {
    color: GrayText !important;
  }
  :root[namoroka-style-2] menupopup:not(#ContentSelectDropdownPopup) .menu-accel,
  :root[namoroka-style-2] menupopup:not(#ContentSelectDropdownPopup) .menu-iconic-accel,
  :root[namoroka-style-2] menupopup:not(#ContentSelectDropdownPopup) .menu-text,
  :root[namoroka-style-2] menupopup:not(#ContentSelectDropdownPopup) .menu-iconic-text,
  :root[namoroka-style-2] toolbarbutton menupopup[placespopup] .menu-accel,
  :root[namoroka-style-2] toolbarbutton menupopup[placespopup] .menu-iconic-accel,
  :root[namoroka-style-2] toolbarbutton menupopup[placespopup] .menu-text,
  :root[namoroka-style-2] toolbarbutton menupopup[placespopup] .menu-iconic-text {
    appearance: none !important;
    margin: 0 !important;
    padding: 0 !important;
    color: inherit !important;
  }
  :root[namoroka-style-2] menupopup:not(#ContentSelectDropdownPopup) .menu-text,
  :root[namoroka-style-2] toolbarbutton menupopup[placespopup] .menu-text {
    appearance: menuitemtext !important;
    padding-inline-start: 1.45em !important;
    font-weight: inherit !important;
  }
  :root[namoroka-style-2] menupopup:not(#ContentSelectDropdownPopup) .menu-text,
  :root[namoroka-style-2] menupopup:not(#ContentSelectDropdownPopup) .menu-iconic-text,
  :root[namoroka-style-2] toolbarbutton menupopup[placespopup] .menu-text,
  :root[namoroka-style-2] toolbarbutton menupopup[placespopup] .menu-iconic-text {
    font-weight: inherit !important;
    margin-inline-start: 2px !important;
    padding-inline-end: 2px !important;
  }
  :root[namoroka-style-2] menupopup:not(#ContentSelectDropdownPopup) .menu-accel,
  :root[namoroka-style-2] menupopup:not(#ContentSelectDropdownPopup) .menu-iconic-accel,
  :root[namoroka-style-2] toolbarbutton menupopup[placespopup] .menu-accel,
  :root[namoroka-style-2] toolbarbutton menupopup[placespopup] .menu-iconic-accel {
    color: inherit !important;
    margin-inline-start: 0.74em !important;
    margin-inline-end: 1.35em !important;
  }
  :root[namoroka-style-2] menupopup:not(#ContentSelectDropdownPopup) .menu-iconic-left,
  :root[namoroka-style-2] toolbarbutton menupopup[placespopup] .menu-iconic-left {
    min-width: 1.45em !important;
    min-height: 1.21em !important;
  }
  :root[namoroka-style-2] menupopup:not(#ContentSelectDropdownPopup) .menu-iconic-icon,
  :root[namoroka-style-2] toolbarbutton menupopup[placespopup] .menu-iconic-icon {
    width: 16px !important;
    height: 16px !important;
  }
  :root[namoroka-style-2] menupopup:not(#ContentSelectDropdownPopup) menu.menu-iconic .menu-iconic-left,
  :root[namoroka-style-2] menupopup:not(#ContentSelectDropdownPopup) menuitem.menuitem-iconic .menu-iconic-left,
  :root[namoroka-style-2] toolbarbutton menupopup[placespopup] menu.menu-iconic .menu-iconic-left,
  :root[namoroka-style-2] toolbarbutton menupopup[placespopup] menuitem.menuitem-iconic .menu-iconic-left {
    appearance: menuimage !important;
  }
  :root[namoroka-style-2] menupopup:not(#ContentSelectDropdownPopup) menu.menu-iconic .menu-iconic-icon,
  :root[namoroka-style-2] menupopup:not(#ContentSelectDropdownPopup) menuitem.menuitem-iconic .menu-iconic-icon,
  :root[namoroka-style-2] toolbarbutton menupopup[placespopup] menu.menu-iconic .menu-iconic-icon,
  :root[namoroka-style-2] toolbarbutton menupopup[placespopup] menuitem.menuitem-iconic .menu-iconic-icon {
    margin-inline: -1px !important;
  }
  :root[namoroka-style-2] menupopup:not(#ContentSelectDropdownPopup) .menu-right,
  :root[namoroka-style-2] toolbarbutton menupopup[placespopup] .menu-right {
    appearance: menuarrow !important;
    margin-inline-end: -2px !important;
    list-style-image: none !important;
  }
  :root[namoroka-style-2] menupopup:not(#ContentSelectDropdownPopup) menuitem[type=checkbox],
  :root[namoroka-style-2] menupopup:not(#ContentSelectDropdownPopup) menuitem[checked=true],
  :root[namoroka-style-2] toolbarbutton menupopup[placespopup] menuitem[type=checkbox],
  :root[namoroka-style-2] toolbarbutton menupopup[placespopup] menuitem[checked=true] {
    appearance: checkmenuitem !important;
  }
  :root[namoroka-style-2] menupopup:not(#ContentSelectDropdownPopup) menuitem[type=checkbox] .menu-iconic-left,
  :root[namoroka-style-2] menupopup:not(#ContentSelectDropdownPopup) menuitem[checked=true] .menu-iconic-left,
  :root[namoroka-style-2] toolbarbutton menupopup[placespopup] menuitem[type=checkbox] .menu-iconic-left,
  :root[namoroka-style-2] toolbarbutton menupopup[placespopup] menuitem[checked=true] .menu-iconic-left {
    appearance: menucheckbox !important;
  }
  :root[namoroka-style-2] menupopup:not(#ContentSelectDropdownPopup) menuitem[type=radio],
  :root[namoroka-style-2] toolbarbutton menupopup[placespopup] menuitem[type=radio] {
    appearance: radiomenuitem !important;
  }
  :root[namoroka-style-2] menupopup:not(#ContentSelectDropdownPopup) menuitem[type=radio] .menu-iconic-left,
  :root[namoroka-style-2] toolbarbutton menupopup[placespopup] menuitem[type=radio] .menu-iconic-left {
    appearance: menuradio !important;
  }
  :root[namoroka-style-2] menupopup:not(#ContentSelectDropdownPopup) menuitem[type=checkbox] .menu-iconic-left .menu-iconic-icon,
  :root[namoroka-style-2] menupopup:not(#ContentSelectDropdownPopup) menuitem[checked=true] .menu-iconic-left .menu-iconic-icon,
  :root[namoroka-style-2] menupopup:not(#ContentSelectDropdownPopup) menuitem[type=radio] .menu-iconic-left .menu-iconic-icon,
  :root[namoroka-style-2] menupopup:not(#ContentSelectDropdownPopup) #context-back-old .menu-iconic-left .menu-iconic-icon,
  :root[namoroka-style-2] menupopup:not(#ContentSelectDropdownPopup) #context-forward-old .menu-iconic-left .menu-iconic-icon,
  :root[namoroka-style-2] menupopup:not(#ContentSelectDropdownPopup) #context-reload-old .menu-iconic-left .menu-iconic-icon,
  :root[namoroka-style-2] menupopup:not(#ContentSelectDropdownPopup) #context-stop-old .menu-iconic-left .menu-iconic-icon,
  :root[namoroka-style-2] menupopup:not(#ContentSelectDropdownPopup) #context-bookmarkpage-old .menu-iconic-left .menu-iconic-icon,
  :root[namoroka-style-2] toolbarbutton menupopup[placespopup] menuitem[type=checkbox] .menu-iconic-left .menu-iconic-icon,
  :root[namoroka-style-2] toolbarbutton menupopup[placespopup] menuitem[checked=true] .menu-iconic-left .menu-iconic-icon,
  :root[namoroka-style-2] toolbarbutton menupopup[placespopup] menuitem[type=radio] .menu-iconic-left .menu-iconic-icon,
  :root[namoroka-style-2] toolbarbutton menupopup[placespopup] #context-back-old .menu-iconic-left .menu-iconic-icon,
  :root[namoroka-style-2] toolbarbutton menupopup[placespopup] #context-forward-old .menu-iconic-left .menu-iconic-icon,
  :root[namoroka-style-2] toolbarbutton menupopup[placespopup] #context-reload-old .menu-iconic-left .menu-iconic-icon,
  :root[namoroka-style-2] toolbarbutton menupopup[placespopup] #context-stop-old .menu-iconic-left .menu-iconic-icon,
  :root[namoroka-style-2] toolbarbutton menupopup[placespopup] #context-bookmarkpage-old .menu-iconic-left .menu-iconic-icon {
    display: none !important;
  }
  :root[namoroka-style-2] menupopup:not(#ContentSelectDropdownPopup) menuseparator,
  :root[namoroka-style-2] toolbarbutton menupopup[placespopup] menuseparator {
    appearance: menuseparator !important;
    padding: 3px 1px 4px 1px !important;
    border-top: 1px solid ThreeDShadow !important;
    border-bottom: 1px solid ThreeDHighlight !important;
  }
  :root[namoroka-style-2] menupopup:not(#ContentSelectDropdownPopup)::part(content),
  :root[namoroka-style-2] toolbarbutton menupopup[placespopup]::part(content) {
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
  }
}

/*# sourceMappingURL=namoroka.uc.css.map */
