#places {
    toolbarbutton {
        -moz-default-appearance: toolbarbutton !important;
        appearance: auto !important;
        justify-content: center !important;
        align-items: center !important;
        margin: 0 !important;
        border: 1px solid transparent !important;
        padding: 5px !important;
        background-color: transparent !important;
        min-width: 57px !important;
        color: -moz-DialogText !important;
        flex-direction: column !important;

        .toolbarbutton-icon {
            width: 24px !important;
            height: 24px !important;
            background-image: url("chrome://namoroka/content/firefox-1/bookmarks/Bookmarks-toolbar.png") !important;
            background-position-x: calc(-24px * var(--offset));
            margin-inline-end: 0 !important;
        }

        .toolbarbutton-text {
            margin: 0 !important;
            text-align: center !important;
        }

        &:not([disabled="true"]):hover {
            border-color: ThreeDHighlight ThreeDShadow ThreeDShadow ThreeDHighlight !important;

            .toolbarbutton-icon {
                background-position-y: -24px !important;
            }

            &:active {
                border-color: ThreeDShadow ThreeDHighlight ThreeDHighlight ThreeDShadow !important;

                .toolbarbutton-icon {
                    background-position-y: -24px !important;
                }
            }
        }

        &[disabled="true"] {
            border-color: transparent !important;
            padding: 5px !important;
            color: GrayText !important;

            .toolbarbutton-icon {
                background-position-y: -48px !important;
            }
        }
    }

    &[namoroka-style-1="true"] {
        toolbarbutton {
            .toolbarbutton-icon {
                background-image: url("chrome://namoroka/content/firefox-2/bookmarks/Bookmarks-toolbar.png") !important;
            }

            &:not([disabled="true"]):hover {
                .toolbarbutton-icon {
                    background-position-y: -24px !important;
                }

                &:active {
                    .toolbarbutton-icon {
                        background-position-y: -48px !important;
                    }
                }
            }

            &[disabled="true"] {
                .toolbarbutton-icon {
                    background-position-y: -72px !important;
                }
            }
        }
    }

    #newfolder {
        --offset: 1 !important;
    }

    #newseparator {
        --offset: 2 !important;
    }

    #moveBookmark {
        --offset: 3 !important;
    }

    #properties {
        --offset: 4 !important;
    }

    #rename {
        --offset: 5 !important;
    }

    #delete {
        --offset: 6 !important;
    }

    #placesMenu {
        margin: 0 !important;

        & > menu {            
            &::after {
                display: none !important;
            }
        }
    }
    
    toolbarseparator {
        appearance: none !important;
    }

    #searchFilter {
        -moz-default-appearance: textfield !important;
        appearance: auto !important;
        cursor: text !important;
        margin: 2px 4px !important;
        padding: 2px 2px 3px 4px !important;
        background-color: -moz-Field !important;
        color: -moz-FieldText !important;
        min-height: unset !important;
        max-width: unset !important;
        border-radius: 0 !important;
        outline: 0 !important;
        box-shadow: none !important;
    }



    .textbox-search-sign,
    .textbox-search-icons {
        display: none !important;
    }

    splitter:not(.tree-splitter) {
        margin: 0 !important;
        width: 6px !important;
        border-inline-end: 0 !important;
    }
    
    tree {
        background-color: -moz-Field !important;
        color: -moz-FieldText !important;
        -moz-default-appearance: listbox !important;
        appearance: auto !important;
    }
}

#searchFilter::part(search-sign) {
    display: none !important;
}