#status-bar {
    @media (-moz-windows-classic) {
        & {
            margin-block-start: 2px !important;
        }
    }
    background-color: -moz-Dialog !important;
    border-top: 1px solid ThreeDShadow !important;
    border-left: 1px solid ThreeDShadow !important;
    border-right: 1px solid ThreeDHighlight !important;
    border-bottom: 1px solid ThreeDHighlight !important;

    @media not (-moz-windows-classic) {
        // weird marble quirk makes me have to do this
        & {
            appearance: auto !important;
            -moz-default-appearance: statusbar !important;
        }
    }
    
    min-height: 22px !important;
    align-items: center;

    :root[inFullscreen="true"] & {
        visibility: collapse !important;
    }
}

#statuspanel {
    display: none !important;
}