statusbar {
    -moz-default-appearance: statusbar !important;
    appearance: auto !important;
    border-top: 1px solid ThreeDLightShadow !important;
    border-left: 1px solid ThreeDShadow !important;
    border-right: 1px solid ThreeDHighlight !important;
    border-bottom: 1px solid ThreeDHighlight !important;
    background-color: -moz-Dialog !important;
    min-height: 22px !important;

    :root[inFullscreen] & {
        display: none !important;
    }

    &#status-bar {
        border-top: none !important;
    }
}

statusbarpanel {
    -moz-default-appearance: statusbarpanel !important;
    appearance: auto !important;
    align-items: center !important;
    justify-content: center !important;
    border-left: 1px solid ThreeDHighlight !important;
    border-top: 1px solid ThreeDHighlight !important;
    border-right: 1px solid ThreeDShadow !important;
    border-bottom: 1px solid ThreeDShadow !important;
    padding: 0 4px !important;

    &#statusbar-display {
        padding-inline-start: 0 !important;
    }
}

.statusbar-resizerpanel {
    -moz-default-appearance: resizerpanel !important;
    appearance: auto !important;
    justify-content: flex-end !important;
    align-items: flex-end !important;
    padding: 0px !important;
    border: none !important;
}

.statusbarpanel-iconic,  
.statusbarpanel-iconic-text, 
.statusbarpanel-menu-iconic {
    padding: 0px 1px 0px 1px !important;
}


.statusbar-resizer {
    -moz-default-appearance: resizer !important;
    appearance: auto !important;
    cursor: se-resize !important;

    :root[sizemode="maximized"] & {
        display: none !important;
    }
}

#security-button {
    min-width: 20px !important;
    display: none !important;
    flex-direction: row-reverse !important;
    align-items: center !important;

    &[level="high"] {
        display: flex !important;
        
        .statusbarpanel-icon {
            width: 16px !important;
            height: 16px !important;
            background-image: var(--secure-icon) !important;
        }
    }

    > label:not([value]),
    :root:not([namoroka-style-1]) & {
        display: none !important;
    }
}