:root {
    --urlbar-root-height: 22px !important;
    --urlbar-min-height: var(--urlbar-root-height) !important;
    --urlbar-container-padding: 0 !important;
    --urlbar-padding-block: 2px !important;
    --urlbar-margin-inline: 3px !important;

    --secure-icon: #{asset("Secure.png")} !important;

    @media (-moz-windows-classic) {
        & {
            --urlbar-root-height: 24px !important;
            --urlbar-container-padding: 1px !important;
        }
    }
}

#urlbar, #searchbar {
    font-size: 1em !important;
    color: -moz-DialogText !important;
}

#urlbar-background, 
#searchbar {
    height: var(--urlbar-height) !important;
    -moz-default-appearance: textfield !important;
    appearance: textfield !important;
    outline: none !important;
    box-shadow: none !important;
}

#urlbar-input::placeholder,
.searchbar-textbox::placeholder {
    color: GrayText !important;
    opacity: 0 !important;
}

.default-favicon {
    content: var(--page-icon) !important;
}

image.default-favicon {
    list-style-image: var(--page-icon) !important;
}

#urlbar-container {
    --urlbar-container-height: unset !important;
    padding-block: 0 !important;

    #urlbar {
        --urlbar-height: var(--urlbar-root-height) !important;

        :root:not([namoroka-style-2]) & #page-proxy-stack {
            visibility: collapse !important;
        }

        &[data-old-urlbar="true"] {
            position: static !important;
            width: unset !important;
            display: flex !important;
        }

        #page-proxy-deck {
            width: 16px !important;
            height: 16px !important;
            margin: 2px 3px !important;

            #page-proxy-favicon {
                width: 100% !important;
                height: 100% !important;
                visibility: visible !important;

                &:not([src]),
                &[src="chrome://branding/content/icon32.png"] {
                    content: var(--page-icon) !important;
                }
            }
        }

        &[pageproxystate="invalid"] {
            #page-proxy-deck {
                #page-proxy-favicon {
                    &:not([src]),
                    &[src="chrome://branding/content/icon32.png"] {
                        content: var(--page-invalid-icon) !important;
                    }
                }
            }
        }

        #urlbar-input-container,
        .urlbar-input-container {
            height: var(--urlbar-height) !important;
            padding: var(--urlbar-container-padding) !important;
            border-radius: 0 !important;
            background-clip: content-box !important;

            &[pageproxystate="valid"] {
                background-color: #F5F6BE !important;
                color: #000000 !important;
            }
        }

        #tracking-protection-icon-container,
        #identity-permission-box,
        #urlbar-go-button
        {
            visibility: collapse !important;
        }

        #identity-box {
            margin: 0 !important;

            :root[inFullscreen="true"] & {
                display: none !important;
            }

            &:not(.verifiedDomain) {
                visibility: collapse !important;
            }

            #identity-icon-label {
                visibility: collapse !important;
            }
        }

        .autocomplete-history-dropmarker {
            width: 17px !important;
            height: 100% !important;
        }

        #urlbar-input {
            mask-image: none !important;
            margin-inline: 3px !important;
        }

        :root:not([namoroka-style-2]) & {
            #identity-box {
                .identity-box-button {
                    border-radius: 0 !important;
                    padding: 0 !important;
                    background-color: transparent !important;
                }

                #identity-icon {
                    list-style-image: none !important;
                }

                &[pageproxystate="valid"] {
                    &.verifiedDomain {
                        #identity-icon {
                            list-style-image: var(--secure-icon) !important;
                        }
                    }
                }
            }
        }

        :root:not([namoroka-style-2])[namoroka-style-1] & {
            #identity-box {
                &[pageproxystate="valid"] {
                    &.verifiedDomain {
                        #identity-icon {
                            width: 18px !important;
                            height: 18px !important;
                            list-style-image: none !important;
                            background-image: var(--secure-icon) !important;

                            &:hover {
                                background-position-y: -18px !important;

                                &:active {
                                    background-position-y: -72px !important;
                                }
                            }
                        }
                    }
                }
            }
        }

        :root:not([namoroka-style-2]) & {
            #star-button-box {
                display: none !important;
            }
        }

        #reader-mode-button,
        #picture-in-picture-button,
        #translations-button,
        #urlbar-zoom-button {
            display: none !important;
        }

        .urlbar-page-action {
            padding: 0 2px !important;
            outline: 0 !important;
            height: 16px !important;
            border-radius: 0 !important;
            background-color: transparent !important;
        }

        .urlbarView {
            display: none !important;
        }
    }
}


.searchbar-search-button {
    .searchbar-search-icon {
        list-style-image: #{asset("Search-bar.png")} !important;
        margin-inline: 3px 8px !important;
    }

    .searchbar-search-icon-overlay {
        width: 9px !important;
        height: 6px !important;
        list-style-image: #{asset("search-dropdown.png")} !important;
        align-self: flex-end !important;
        margin-inline: 0 !important;
        margin-left: -11px !important;
        margin-bottom: 1px !important;
    }
}

#PopupSearchAutoComplete {
    .search-panel-current-engine,
    .search-one-offs,
    .searchbar-separator {
        visibility: collapse !important;
    }
}

panel[type="autocomplete-richlistbox"],
.autocomplete-history-popup {
    appearance: none !important;
    --panel-shadow-margin: 0 !important;
    --panel-shadow: none !important;
    --panel-background: #fff !important;
    --panel-border-color: ThreeDDarkShadow !important;
    background-color: #fff !important;
}

:root:not([namoroka-style-2]) {
    #PopupAutoCompleteRichResult {
        .autocomplete-richlistitem {
            flex-direction: row-reverse !important;
            padding-inline: 10px !important;
            padding-block: 2px !important;

            .ac-site-icon,
            .ac-extra,
            .ac-type-icon {
                visibility: collapse !important;
            }

            .ac-url {
                display: flex !important;
                margin: 0 !important;
                width: 100% !important;
            }

            .ac-title {
                margin: 0 !important;
            }
            
            .ac-comment {
                overflow: hidden !important;
                text-wrap: nowrap !important;
                text-overflow: ellipsis !important;
                margin: 0 !important;
                color: #555566 !important;
            }

            &[selected] {
                .ac-comment {
                    color: inherit !important;
                }
            }

            > hbox {
                &:first-of-type {
                    flex: 1 !important;
                    overflow: hidden !important;
                }

                &:last-of-type {
                    flex: 2 !important;
                    width: var(--url-col-width, 60%) !important;
                    overflow: hidden !important;
                }
            }
        }
    }

    #search-container {
        width: 20em !important;
    }
}

:root[namoroka-style-1]:not([namoroka-style-2]) #search-container {
    flex: 100 100 auto !important;
}

:root:not([namoroka-style-2]) #urlbar-search-splitter {
    display: none !important;
}