toolbox {
    border-block-start: 1px solid ThreeDShadow !important;

    @media (-moz-windows-classic) {
        box-shadow: inset 0 1px 0 ThreeDHighlight !important;
        padding-block-start: 1px !important;
    }
}