#navigator-toolbox {
    border-block-start: 1px solid ThreeDShadow !important;
}

@media (-moz-windows-classic) {
    toolbar[type="menubar"]:not([inactive="true"]) {
        border-block-start-width: 1px !important;
    }

    toolbar[type="menubar"][inactive="true"] {
        border-block-width: 0 !important;
    }
}