@media not (-moz-windows-non-native-menus) {
    :root:not([namoroka-style-1]) {
        menupopup:not(#ContentSelectDropdownPopup),
        toolbarbutton menupopup[placespopup] {
            border-top-color: -moz-Dialog !important;
            border-left-color: -moz-Dialog !important;
            border-bottom-color: ThreeDDarkShadow !important;
            border-right-color: ThreeDDarkShadow !important;
            box-shadow: inset -1px -1px 0 ThreeDShadow, inset 1px 1px 0 ThreeDHighlight !important;
            padding: 1px !important;
        }
    }

    :root[namoroka-style-1] {
        menupopup:not(#ContentSelectDropdownPopup),
        toolbarbutton menupopup[placespopup] {
            padding: 2px !important;
            border: 1px solid ThreeDShadow !important;
        }
    }
}

#context-sep-navigation {
    margin-inline-start: unset !important;
}

#context-navigation {
	background: transparent !important;
	flex-direction: column !important;

	& > .menuitem-iconic {
		width: unset !important;

		& > .menu-iconic-left {
			appearance: auto !important;

			& > .menu-iconic-icon {
				display: none !important;
			}
		}
		
		.menu-iconic-text {
			display: block !important;
		}
	}
}