@mixin navBar-button-background {
    box-shadow: inset 0 0 0 1px -moz-Dialog !important;
    background-image: linear-gradient(to bottom, transparent 0%, transparent 50%, rgb(0 0 0 / 4%) 50%, rgb(0 0 0 / 6%) 100%) !important;

    &:hover {
        background-image: linear-gradient(to bottom, rgb(255 255 255 / 10%) 0%, rgb(255 255 255 / 10%) 50%, rgb(0 0 0 / 8%) 50%, rgb(0 0 0 / 13%) 100%) !important;

        &:active {
            background-image: linear-gradient(to bottom, rgb(255 255 255 / 10%) 0%, rgb(255 255 255 / 10%) 50%, rgb(0 0 0 / 12%) 50%, rgb(0 0 0 / 21%) 100%) !important;
        }
    }
}

&:not([namoroka-style-2="true"]) {
    --urlbar-container-padding: 0 !important;
    --urlbar-margin-inline: 3px !important;
    --urlbar-padding-block: 0 !important;
    
    --secure-icon: #{asset("Secure.png")} !important;

    .searchbar-textbox::placeholder {
        opacity: 1 !important;
    }

    #urlbar-container {
        margin-inline-end: 5px !important;

        #urlbar {
            margin-block-start: -1px !important;
            appearance: none !important;
            border: 1px solid #96969D !important;
            border-radius: 0 !important;
            background-color: -moz-field !important;

            #urlbar-input-container,
            .urlbar-input-container {
                margin: 0 !important;
            }

            .autocomplete-history-dropmarker {
                box-sizing: content-box !important;
                appearance: none !important;
                position: relative;
                width: 16px !important;
                height: 20px !important;
                margin: 0px !important;
                border-left: 1px solid #96969D !important;
                padding: 0px !important;
                background-color: -moz-dialog !important;
                list-style-image: #{asset("icons/autocomplete-dropmark-arrow.png")} !important;
                -moz-image-region: rect(0px, 16px, 20px, 0px) !important;

                &:hover {
                    -moz-image-region: rect(0px, 32px, 20px, 16px) !important;
                }

                &:active {
                    -moz-image-region: rect(0px, 64px, 20px, 48px) !important;
                }

                .autocomplete-dropmarker-bkgnd {
                    background-image: none !important;
                    list-style-image: none !important;
                }

                .autocomplete-dropmarker-bkgnd-top {
                    list-style-image: #{asset("icons/autocomplete-dropmark-bkgnd.png")} !important;
                    -moz-image-region: rect(0px, 16px, 9px, 0px) !important;
                    height: 9px !important;
                }

                .autocomplete-dropmarker-bkgnd-mid-top {
                    background-image: #{asset("icons/autocomplete-dropmark-bkgnd-mid-top.png")} !important;
                    background-repeat: repeat !important;
                    background-clip: padding-box !important;
                }

                .autocomplete-dropmarker-bkgnd-mid-bottom {
                    background-image: #{asset("icons/autocomplete-dropmark-bkgnd-mid-bottom.png")} !important;
                    background-repeat: repeat !important;
                    background-clip: padding-box !important;
                    list-style-image: none !important;
                }

                .autocomplete-dropmarker-bkgnd-bottom {
                    list-style-image: #{asset("icons/autocomplete-dropmark-bkgnd.png")} !important;
                    -moz-image-region: rect(11px, 16px, 20px, 0px) !important;
                    height: 9px !important;
                }

                &:hover {
                    .autocomplete-dropmarker-bkgnd-top {
                        -moz-image-region: rect(0px, 32px, 9px, 16px) !important;
                        height: 9px !important;
                    }

                    .autocomplete-dropmarker-bkgnd-mid-top {
                        background-position: -16px 0px !important;
                    }

                    .autocomplete-dropmarker-bkgnd-mid-bottom {
                        background-position: -16px 0px !important;
                    }

                    .autocomplete-dropmarker-bkgnd-bottom {
                        -moz-image-region: rect(11px, 32px, 20px, 16px) !important;
                        height: 9px !important;
                    }

                    &:active {
                        .autocomplete-dropmarker-bkgnd-top {
                            -moz-image-region: rect(0px, 64px, 9px, 48px) !important;
                            height: 9px !important;
                        }

                        .autocomplete-dropmarker-bkgnd-mid-top {
                            background-position: -48px 0px !important;
                        }

                        .autocomplete-dropmarker-bkgnd-mid-bottom {
                            background-position: -48px 0px !important;
                        }

                        .autocomplete-dropmarker-bkgnd-bottom {
                            -moz-image-region: rect(11px, 64px, 20px, 48px) !important;
                            height: 9px !important;
                        }
                    }
                }

                .history-dropmarker-stack,
                .autocomplete-dropmarker-bkgnd-box,
                .dropmarker-image {
                    width: 16px !important;
                    height: 20px !important;
                    margin: 0 !important;
                }
            }

            #page-proxy-stack {
                display: none !important;
            }
        }
    }

    #nav-bar #go-button {
        appearance: none !important;
        min-width: 25px !important;
        height: 22px !important;
        padding: 0 !important;
        border: 0 !important;
        margin-inline-start: 0 !important;
        margin-block-start: -1px !important;

        .toolbarbutton-icon {
            width: 25px !important;
            height: 22px !important;
            margin: 0 !important;
            background-image: #{asset("Go-arrow.png")} !important;
        }

        &:not([disabled="true"]):hover {
            .toolbarbutton-icon {
                background-position-x: -25px !important;
            }

            &:active {                
                .toolbarbutton-icon {
                    background-position-x: -75px !important;
                }
            }
        }

        &[disabled="true"] {
            .toolbarbutton-icon {
                background-position-x: -50px !important;
            }
        }

        .toolbarbutton-text {
            visibility: collapse !important;
        }
    }

    #go-button-stack {
        margin-block-start: -1px !important;
        height: 22px !important;
        width: 25px !important;

        > vbox {
            width: 25px !important;
            height: 22px !important;
        }

        #go-button-top {
            list-style-image: #{asset("Go-bkgnd.png")} !important;
            -moz-image-region: rect(0px, 25px, 10px, 0px) !important;
            height: 10px !important;
        }

        #go-button-mid-top {
            background-image: #{asset("Go-mid-top.png")} !important;
        }

        #go-button-mid-bottom {
            background-image: #{asset("Go-mid-bottom.png")} !important;
        }

        #go-button-bottom {
            list-style-image: #{asset("Go-bkgnd.png")} !important;
            -moz-image-region: rect(12px, 25px, 22px, 0px) !important;
            height: 10px !important;
        }

        &:hover {
            #go-button-top {
                -moz-image-region: rect(0px, 50px, 10px, 25px) !important;
            }
        
            #go-button-mid-top,
            #go-button-mid-bottom {
                background-position: -25px 0px !important;
            }
        
            #go-button-bottom {
                -moz-image-region: rect(12px, 50px, 22px, 25px) !important;
            }

            &:active {
                #go-button-top {
                    -moz-image-region: rect(0px, 100px, 10px, 75px) !important;
                }

                #go-button-mid-top,
                #go-button-mid-bottom {
                    background-position: -75px !important;
                }
            
                #go-button-bottom {
                    -moz-image-region: rect(12px, 100px, 22px, 75px) !important;
                }
            }
        }
    }

    #search-container {
        margin-inline-start: 3px !important;
        margin-inline-end: 0 !important;
    }

    #searchbar {
        appearance: none !important;
        border: 0 !important;
        border-radius: 0 !important;
        background-color: transparent !important;
        margin-block-start: -1px !important;

        .searchbar-search-button {
            width: 32px;
            margin: 0px;
            margin-inline-end: -1px;
            padding: 0px;

            .searchbar-search-icon {
                list-style-image: #{asset("Search-bar.png")} !important;
                margin: 0 !important;
                margin-inline-start: 3px !important;
            }

            .searchbar-search-icon-overlay {
                width: 5px !important;
                height: 3px !important;
                align-self: center !important;
                margin: 0 !important;
                margin-inline: 3px !important;
                list-style-image: var(--arrow-dn) !important;
            }

            .searchbar-engine-button-stack {
                height: 100% !important;

                .searchbar-engine-button-bkgnd {
                    width: 32px;
                }

                .searchbar-engine-button-top {
                    list-style-image: #{asset("Search-provider-bkgnd.png")} !important;
                    -moz-image-region: rect(0px, 32px, 10px, 0px);
                    height: 10px;
                }

                .searchbar-engine-button-mid-top {
                    background-image: #{asset("Search-provider-mid-top.png")} !important;
                }

                .searchbar-engine-button-mid-bottom {
                    background-image: #{asset("Search-provider-mid-bottom.png")} !important;
                }

                .searchbar-engine-button-bottom {
                    list-style-image: #{asset("Search-provider-bkgnd.png")} !important;
                    -moz-image-region: rect(12px, 32px, 22px, 0px);
                    height: 10px;
                }

                &:hover {
                    .searchbar-engine-button-top {
                        -moz-image-region: rect(0px, 64px, 10px, 32px);
                    }

                    .searchbar-engine-button-mid-top,
                    .searchbar-engine-button-mid-bottom {
                        background-position: -32px 0px;
                    }

                    .searchbar-engine-button-bottom {
                        -moz-image-region: rect(12px, 64px, 22px, 32px);
                    }
                }
            }

            &[addengines="true"] {
                .searchbar-engine-button-stack {
                    .searchbar-engine-button-top {
                    -moz-image-region: rect(0px, 128px, 10px, 96px);
                    }

                    .searchbar-engine-button-mid-top,
                    .searchbar-engine-button-mid-bottom {
                        background-position: -96px 0px;
                    }

                    .searchbar-engine-button-bottom {
                        -moz-image-region: rect(12px, 128px, 22px, 96px);
                    }
                }

                &:hover {
                    .searchbar-engine-button-top {
                        -moz-image-region: rect(0px, 64px, 10px, 32px);
                    }

                    .searchbar-engine-button-mid-top,
                    .searchbar-engine-button-mid-bottom {
                        background-position: -32px 0px;
                    }

                    .searchbar-engine-button-bottom {
                        -moz-image-region: rect(12px, 64px, 22px, 32px);
                    }
                }
            }
        }

        .searchbar-textbox {
            border-inline: 1px solid #96969D !important;
            border-block: 1px solid #96969D !important;
            background-color: -moz-field !important;
            padding-inline: 3px !important;
            border-radius: 0 !important;
        }

        .search-go-container {
            width: 25px !important;
            height: 22px !important;
            padding: 0 !important;
            border: 0 !important;
            margin-inline-end: 5px !important;
            
            .search-go-button {
                display: flex !important;
                width: 25px !important;
                height: 22px !important;
                margin: 0 !important;
                padding: 0 !important;
                background-color: transparent !important;
                border-radius: 0 !important;
                background-image: #{asset("Search.png")} !important;
                list-style-image: none !important;
            }

            &:hover {
                .search-go-button {
                    background-position-x: -25px !important;
                }

                &:active {
                    .search-go-button {
                        background-position-x: -75px !important;
                    }
                }
            }
        }
    }
}