& {
    --toolbar-spritesheet: #{asset("Toolbar.png")};

    &[namoroka-appearance-small-icons="true"] {
        --toolbar-spritesheet: #{asset("Toolbar-small.png")};
    }

    @media not (-moz-platform: windows-winxp) {
        --toolbar-spritesheet: #{asset("aero/Toolbar.png")};

        &[namoroka-appearance-small-icons="true"] {
            --toolbar-spritesheet: #{asset("aero/Toolbar-small.png")};
        }
    }

    $arrow-path: "chrome://namoroka/content/firefox-3/arrow/";

    @each $file in $arrow-files {
        --#{strip-ext($file)}: url(#{$arrow-path}#{$file}) !important;
    }
}

.close-icon:not(.findbar-closebutton) {
    @include set-size(14px, 14px);
    @include set-background("firefox-3/icons/close.png");
    @include set-horizontal-states(0, 14px, 28px);

    @media not (-moz-platform: windows-winxp) {
        @include set-background("firefox-3/aero/icons/close.png");
    }
}

.toolbarbutton-1#unified-extensions-button .toolbarbutton-icon {
    background-position-x: -516px !important;
}

&[namoroka-appearance-small-icons="true"] {
    .toolbarbutton-1#unified-extensions-button .toolbarbutton-icon {
        background-position-x: -362px !important;
    }
}