#navigator-throbber {
    padding: 1px 6px 2px 4px !important;
    list-style-image: url("chrome://namoroka/content/firefox-3/icons/notloading_16.png") !important;

    &[busy="true"] {
        list-style-image: url("chrome://namoroka/content/firefox-3/icons/loading_16.png") !important;
        opacity: 1 !important;
    }
}

@media not (-moz-windows-classic) {
&[namoroka-appearance-aero] {
#main-menubar {
    > menu {
        appearance: menuitem !important;
        color: MenuText !important;
        font: menu !important;
        border: 2px solid transparent !important;
        margin: 0 !important;
        padding: 0 !important;

        &[_moz-menuactive="true"] {
            padding: 0 !important;
            border-width: 3px 1px 1px 3px !important;
        }

        &[_moz-menuactive="true"],
        &[_moz-menuactive="true"][open="true"] {
            color: -moz-menubarhovertext !important;
        }

        .menubar-text {
            padding: 0 !important;
            margin: 1px 6px 2px 6px !important;
            color: inherit !important;
        }
    }
}
}
}