& {
    --folder-item: #{asset("icons/folder-item.png")} !important;
    --query: #{asset("icons/query.png")} !important;

    &[namoroka-appearance-aero] {
        --folder-item: #{asset("aero/icons/folder-item.png")} !important;
        --query: #{asset("aero/icons/query.png")} !important;
    }
}

#PersonalToolbar {
    #PlacesToolbarItems {
        margin-inline-start: 0 !important;
    }
}

.bookmark-item[container][query] {
    list-style-image: none !important;

    .toolbarbutton-icon {
        background-image: var(--query) !important;
        background-position: 0 !important;
    }
}