& {
    --folder-item: #{asset("icons/folder-item.png")} !important;
    --query: #{asset("icons/query.png")} !important;

    &[namoroka-appearance-aero] {
        --folder-item: #{asset("aero/icons/folder-item.png")} !important;
        --query: #{asset("aero/icons/query.png")} !important;
    }
}

#PersonalToolbar {
    #PlacesToolbarItems {
        margin-inline-start: 0 !important;
    }
}

.bookmark-item[container][query] {
    list-style-image: none !important;

    .toolbarbutton-icon {
        background-image: var(--query) !important;
        background-position: 0 !important;
    }
}

toolbarbutton.bookmark-item[livemark="true"] {
    .toolbarbutton-icon {
        background-image: #{asset("livemark-folder.png")} !important;
        background-position-x: 0 !important;
    }
}

&[namoroka-appearance-aero] {
    toolbarbutton.bookmark-item[livemark="true"] {
        .toolbarbutton-icon {
            background-image: #{asset("aero/livemark-folder.png")} !important;
        }
    }
}