#sidebar-box {
    #sidebar-header {
        #sidebar-title {
            padding: 0 !important;
        }

        #sidebar-close {
            background-image: #{asset("icons/closeSidebar.png")} !important;
        }
    }
}

&[namoroka-appearance-aero] {
    #sidebar-box {
        #sidebar-header {
            #sidebar-close {
                background-image: #{asset("aero/icons/closeSidebar.png")} !important;
            }
        }
    }
}

@-moz-document url("chrome://browser/content/places/bookmarksSidebar.xhtml"), url("chrome://browser/content/places/historySidebar.xhtml") {
    #sidebar-search-container {
        padding: 0 !important;
        align-items: center !important;
    }

    #viewButton {
        .button-menu-dropmarker {
            width: 5px !important;
            height: 5px !important;
            margin: 1px !important;
            content: none !important;
            background-image: var(--arrow-dn) !important;
            
            &[disabled="true"] {
                background-image: var(--arrow-dn-dis) !important;
            }
        }
    }
}