.browser-toolbar {
    appearance: auto !important;
}

&[namoroka-appearance-aero] {
    .browser-toolbar {
        appearance: none !important;
        border: 0 !important;
    }
}

toolbar[type="menubar"],
menubar {
    border: 0 !important;
    appearance: none !important;
}

#notifications-toolbar {
    border: 0 !important;
    appearance: none !important;
}
