
.browser-toolbar {
    appearance: auto !important;
    -moz-default-appearance: toolbar !important;
    min-height: 19px !important;
}

@media not (-moz-windows-classic) {
&[namoroka-appearance-aero] {
    .browser-toolbar {
        appearance: none !important;
        border: 0 !important;
    }
}
}

toolbar:first-child,
toolbar[type="menubar"], 
menubar {
    appearance: none !important;
    -moz-default-appearance: none !important;
    border: none !important;
}