.browser-toolbar {
    appearance: auto !important;
}

@media not (-moz-windows-classic) {
&[namoroka-appearance-aero] {
    .browser-toolbar {
        appearance: none !important;
        border: 0 !important;
    }
}
}

@media not (-moz-windows-classic) {
    toolbar[type="menubar"],
    menubar {
        border: 0 !important;
        appearance: none !important;
    }
}

#notifications-toolbar {
    border: 0 !important;
    appearance: none !important;
}
