#contentAreaDownloadsView {
  background-color: ThreeDFace;
}

/* Download View */
#downloadsListBox {
  margin: 10px 10px 5px 10px;
  -moz-default-appearance: listbox;
  appearance: auto;
}

.downloadViewInner {
  background-image: url("chrome://namoroka/content/windows/downloads/viewFader.png");
  padding: 0px;
}

/* Download Manager Command Bar */
#commandBar {
  padding: 0px 10px 5px 10px;
}

#cleanUpButton {
  margin: 0px;
  list-style-image: url("chrome://namoroka/content/windows/downloads/downloadCleanup.png");
}

#cleanUpButton .button-icon {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 5px;
}

#cleanUpButton[disabled=true] {
  list-style-image: url("chrome://namoroka/content/windows/downloads/downloadCleanupDisabled.png");
}

#commandBarSeparator {
  margin-inline-start: 5px;
}

/* Download View Items, implementation */
.downloadContentBox {
  opacity: 0;
}

.downloadContentBox[animated=true] {
  opacity: 1;
}

.downloadTypeIcon {
  margin-inline-end: 10px;
}

#folderIcon {
  width: 16px;
  height: 16px;
}

#folderName {
  width: 0px;
}

#saveToFolder {
  padding-top: 1px;
  padding-bottom: 3px;
  padding-inline-start: 5px;
  padding-inline-end: 6px;
}

#saveToFolder .toolbarbutton-text {
  text-align: left;
  margin-inline-start: 5px !important;
}

#downloadsListBox {
  color: -moz-FieldText !important;
  background-color: -moz-Field !important;
  border: 0 !important;
  background-image: url("chrome://namoroka/content/windows/downloads/viewFader.png") !important;
}
#downloadsListBox richlistitem {
  border-radius: 0 !important;
  background-clip: border-box !important;
  padding-block: 13px !important;
  padding-inline-start: 13px !important;
  padding-inline-end: 10px !important;
  min-height: 25px;
  outline: 0 !important;
  background-color: transparent !important;
  border-bottom: 1px dotted #C0C0C0 !important;
  color: inherit !important;
}
#downloadsListBox richlistitem[selected=true] {
  background-image: url("chrome://namoroka/content/windows/downloads/downloadSelected.png") !important;
  border-bottom: 1px dotted #7F9DB9 !important;
}
#downloadsListBox richlistitem .downloadMainArea {
  align-items: flex-start !important;
}
#downloadsListBox richlistitem .downloadProgress {
  appearance: auto !important;
  -moz-default-appearance: progress-bar !important;
  border: 1px solid ThreeDShadow !important;
  border-right-color: ThreeDHighlight !important;
  border-bottom-color: ThreeDHighlight !important;
  height: unset !important;
  border-radius: unset !important;
  background-color: ThreeDFace !important;
}
#downloadsListBox richlistitem .downloadProgress::-moz-progress-bar {
  appearance: auto !important;
  -moz-default-appearance: progresschunk !important;
  border-radius: unset !important;
  background-color: Highlight !important;
}
#downloadsListBox richlistitem .downloadTypeIcon {
  margin: 0 !important;
  margin-inline-end: 10px !important;
  align-self: flex-start !important;
}
#downloadsListBox richlistitem .downloadDetails {
  font-size: unset !important;
  opacity: 1 !important;
}
#downloadsListBox richlistitem .downloadButton {
  padding: 0 !important;
}

.text-link {
  color: blue;
  text-decoration: underline;
  border: 1px solid transparent;
}

.text-link:focus {
  color: red;
  border: 1px dotted -moz-DialogText;
}

.text-link:hover {
  cursor: pointer;
}

.text-link:hover:active {
  color: red;
}

.text-link[visited=true] {
  color: purple;
}

/*# sourceMappingURL=downloads.css.map */
