/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== button.css =====================================================
  == Styles used by the XUL button element.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* :::::::::: button :::::::::: */

/* um que? */

button {
    appearance: auto;
    -moz-default-appearance: button;
    margin: 1px 5px 2px 5px;
    min-width: 6.3em;
    color: ButtonText;
    background-color: ButtonFace;
    text-shadow: none;
}

.button-box {
    border: 1px solid transparent;
    @media (-moz-windows-classic) {
        padding: 1px 4px 2px 3px;
    }
}

button:where(:hover) {
    background-color: -moz-ButtonHoverFace;
}

button:where(:hover:active) {
    background-color: -moz-ButtonActiveFace;
}

.button-text {
    margin: 0 !important;
    text-align: center;
}

/* .......... focused state .......... */

button:focus-visible {
    outline: var(--default-focusring);
    outline-offset: calc(-1 * var(--default-focusring-width) - 2px);
}

/* :::::::::: active/open/checked state :::::::::: */

button:where(:hover:active, [open="true"], [checked="true"]) {
    @media (-moz-windows-classic) {
        > .button-box {
            padding: 2px 3px 1px 4px;
        }
    }
}

/* .......... disabled state .......... */

button:where([disabled="true"]) {
    color: GrayText;
    background-color: ButtonFace;

    @media (-moz-windows-classic) {
        > .button-box {
            padding: 1px 4px 2px 3px !important;
        }
    }
}

/* ::::: menu buttons ::::: */

.button-menu-dropmarker {
    appearance: none;
    list-style-image: url("chrome://global/skin/icons/arrow-down-12.svg");
    -moz-context-properties: fill;
    fill: currentColor;
    width: 12px;
    height: 12px;
}

/* ::::: plain buttons ::::: */

button.plain {
    margin: 0 !important;
    padding: 0 !important;
}

button[type="disclosure"] {
    border: 0px;
    margin: 0px;
    padding: 0px;
    appearance: none;
    list-style-image: #{asset("twisty-clsd.png")};
    -moz-context-properties: fill;
    fill: currentColor;
    min-width: 0;
}

button[type="disclosure"][open="true"] {
    list-style-image: #{asset("twisty-open.png")};
}