findbar[namoroka-initialized="true"] {
    .findbar-closebutton {
        > .toolbarbutton-icon {
            width: 14px !important;
            height: 14px !important;
            background-image: #{asset("icons/closeSidebar.png")} !important;

            @media not (-moz-platform: windows-winxp) {
                background-image: #{asset("aero/icons/closeSidebar.png")} !important;
            }
        }

        &:hover {
            > .toolbarbutton-icon {
                background-position-x: -14px !important;
            }

            &:active {
                > .toolbarbutton-icon {
                    background-position-x: -28px !important;
                }
            }
        }
    }

    @include findbar-icons;
    @media not (-moz-platform: windows-winxp) {
        @include findbar-icons("aero/");
    }
}
