.toolbarbutton-1 {
    padding: 5px !important;

    &:not(.toolbarbutton-menubutton-button) {
        margin: 0 !important;
    }

    &:hover:active:not([disabled="true"]),
    &[open="true"]:not([disabled="true"]) {
        padding: 5px !important;
    }
}

&:not([namoroka-appearance-small-icons="true"]) {
    .toolbarbutton-1 {
        padding: 6px !important;

        &:hover:active:not([disabled="true"]),
        &[open="true"]:not([disabled="true"]) {
            padding: 6px !important;
        }

        .toolbarbutton-icon {
            margin: 0 !important;
        }
    }
}