& {
    --urlbar-margin-inline: 7px !important;

    --secure-icon: #{asset("Secure.png")} !important;
    --secure-broken-icon: #{asset("Security-broken.png")} !important;
    --navbar-textbox-buttons: #{asset("urlbar/navbar-textbox-buttons.png")} !important;
    --search-glass: #{asset("Search-glass.png")} !important;
    --search-close: #{asset("Search-close.png")} !important;

    @media not (-moz-platform: windows-winxp) {
        --secure-icon: #{asset("aero/Secure.png")} !important;
        --secure-broken-icon: #{asset("aero/Security-broken.png")} !important;
        --navbar-textbox-buttons: #{asset("aero/urlbar/navbar-textbox-buttons.png")} !important;
        --search-glass: #{asset("aero/Search-glass.png")} !important;
        --search-close: #{asset("aero/Search-close.png")} !important;
    }

    .searchbar-textbox::placeholder {
        opacity: 1 !important;

        @media not (-moz-platform: windows-winxp) {
            font-style: italic !important;
        }
    }

    #urlbar-container {
        margin-inline-end: 0 !important;
        margin-inline-start: 6px !important;

        #urlbar {
            --urlbar-height: var(--urlbar-root-height) !important;

            @media (-moz-windows-classic) {
                -moz-default-appearance: textfield !important;
                appearance: textfield !important;
                border-radius: 0 !important;
            }

            @media not (-moz-windows-classic) {
                appearance: none !important;
                border: 1px solid ThreeDShadow !important;
                background-color: -moz-Field !important;
                border-radius: 0 !important;
            }

            .autocomplete-history-dropmarker {
                appearance: none !important;
            }

            .urlbar-input-container,
            #urlbar-input-container {
                border: 1px solid transparent !important;

                @media (-moz-windows-classic) {
                    border: 2px solid transparent !important;
                }

                overflow: visible !important;
                background-color: transparent !important;
            }

            #identity-box {
                margin: 0 !important;
                visibility: visible !important;
                overflow: -moz-hidden-unscrollable !important;

                @media not (-moz-windows-classic) {
                    margin-inline-start: -4px !important;
                    border-inline-end: 1px solid ThreeDShadow !important;
                }

                &.verifiedDomain,
                &.verifiedIdentity {
                    border-inline-end-color: ThreeDDarkShadow !important;
                }

                #identity-icon-box {
                    background: -moz-Dialog var(--navbar-textbox-buttons) repeat-x !important;
                    color: -moz-dialogText !important;
                    border-inline: 1px solid ThreeDShadow !important;
                    box-shadow: inset -1px 0 rgba(255, 255, 255, 0.2), inset 1px 0 rgba(255, 255, 255, 0.2) !important;
                    border-radius: 0 !important;
                    outline: 0 !important;
                    max-width: none !important;
                    padding: 0 1px !important;

                    @media (-moz-windows-classic) {
                        border-left: 1px solid rgba(255, 255, 255, 0.2) !important;
                    }

                    @media not (-moz-windows-classic) {
                        margin: -11px -10px -11px 0 !important;
                        padding: 10px 12px 10px 4px !important;
                        border-top: 1px solid ThreeDDarkShadow !important;
                        border-bottom: 1px solid ThreeDDarkShadow !important;
                        border-inline-start: 1px solid ThreeDDarkShadow !important;
                        border-right-style: none !important;
                        border-top-left-radius: 21px !important;
                        border-bottom-left-radius: 21px !important;
                        background-position: 0 10px !important;
                        box-shadow: inset -1px 0 rgba(255, 255, 255, 0.2), inset 1px 0 rgba(255, 255, 255, 0.4) !important;
                    }
                }

                &:hover {
                    #identity-icon-box {
                        background-position: 0 -60px !important;
                        box-shadow: inset -1px 0 rgba(255, 255, 255, 0.4), inset 1px 0 rgba(255, 255, 255, 0.4) !important;

                        @media not (-moz-windows-classic) {
                            background-position: 0 -50px !important;
                            border-inline-start: 1px solid ThreeDDarkShadow !important;
                            box-shadow: inset -1px 0 rgba(255, 255, 255, 0.4), inset 1px 0 rgba(255, 255, 255, 0.6) !important;
                        }
                    }
                }

                &.verifiedDomain {
                    #identity-icon-box {
                        background-position: 0 -120px !important;
                        color: white !important;

                        @media not (-moz-windows-classic) {
                            background-position: 0 -110px !important;
                        }
                    }

                    &:hover {
                        #identity-icon-box {
                            background-position: 0 -180px !important;

                            @media not (-moz-windows-classic) {
                                background-position: 0 -170px !important;
                            }
                        }
                    }
                }

                &.verifiedIdentity {
                    #identity-icon-box {
                        background-position: 0 -240px !important;
                        color: white !important;

                        @media not (-moz-windows-classic) {
                            background-position: 0 -230px !important;
                        }
                    }

                    &:hover {
                        #identity-icon-box {
                            background-position: 0 -300px !important;

                            @media not (-moz-windows-classic) {
                                background-position: 0 -290px !important;
                            }
                        }
                    }
                }

                #identity-icon {
                    width: 1px !important;
                    height: 1px !important;
                    background-image: none !important;
                    visibility: visible !important;
                    margin-inline-start: -1px !important;
                    list-style-image: none !important;
                }

                #page-proxy-stack {
                    display: flex !important;
                    width: 24px !important;
                    height: 20px !important;
                    padding: 2px 4px !important;
                    background: #{asset("aero/urlbar/urlbar-favicon-glow.png")} center center no-repeat !important;
                }

                #page-proxy-favicon,
                #urlbar-throbber {
                    width: 16px !important;
                    height: 16px !important;
                }

                #page-proxy-favicon {
                    &:not([src]) {
                        list-style-image: var(--page-icon) !important;
                    }
                }

                &[pageproxystate="invalid"] {
                    #page-proxy-favicon {
                        list-style-image: var(--page-invalid-icon) !important;
                    }
                }

                #identity-icon-label {
                    padding: 0 2px !important;
                    visibility: visible !important;
                }

                #identity-icon-label[value=""] {
                    visibility: collapse !important;
                }

                &.chromeUI {
                    #identity-icon-label {
                        visibility: collapse !important;
                    }
                }
            }

            #urlbar-input {
                margin-inline: 4px !important;
            }

            #page-proxy-deck {
                visibility: collapse !important;
            }

            .autocomplete-history-dropmarker {
                appearance: none !important;
                background-color: transparent !important;
                position: relative;
                border-inline-start: 1px solid transparent !important;
                align-items: center !important;
                justify-content: center !important;
                padding-inline-start: 1px !important;

                &:hover,
                &[open="true"] {
                    background: -moz-Dialog var(--navbar-textbox-buttons) repeat-x 0 -60px !important;
                    border-color: ButtonShadow !important;
                }

                &::before {
                    content: '';
                    display: flex;
                    width: 5px !important;
                    height: 3px !important;
                    background-image: var(--arrow-dn) !important;
                    margin-inline: 5px !important;
                }
            }

            #page-action-buttons {
                height: 18px !important;
                padding-block-start: 2px !important;
                padding-inline-end: 2px !important;
            }

            #star-button {
                list-style-image: none !important;
                background-image: #{asset("places/bookmark.png")} !important;
                @media not (-moz-platform: windows-winxp) {
                    background-image: #{asset("aero/places/bookmark.png")} !important;
                }

                &[starred="true"] {
                    background-image: #{asset("places/editBookmark.png")} !important;
                    @media not (-moz-platform: windows-winxp) {
                        background-image: #{asset("aero/places/editBookmark.png")} !important;
                    }
                }

                &:hover {
                    background-position-x: -16px !important;

                    &:active {
                        background-position-x: -32px !important;
                    }
                }
            }

            #urlbar-go-button {
                width: 16px !important;
                height: 16px !important;
                border-radius: 0 !important;
                background-color: transparent !important;
                visibility: visible !important;
                background-image: #{asset("Go-arrow.png")} !important;
                @media not (-moz-platform: windows-winxp) {
                    background-image: #{asset("aero/Go-arrow.png")} !important;
                }
                margin: 2px !important;
                list-style-image: none !important;

                &:hover {
                    background-position-x: -16px !important;

                    &:active {
                        background-position-x: -32px !important;
                    }
                }
            }
        }
    }

    #urlbar-search-splitter {
        min-width: 8px;
        margin: 0 -4px !important;

        + #search-container {
            margin-inline-start: 4px !important;
        }
    }

    #searchbar {
        appearance: none !important;
        border: 1px solid ThreeDShadow !important;
        background-color: -moz-Field !important;
        border-radius: 0 !important;

        @media (-moz-windows-classic) {
            -moz-default-appearance: textfield !important;
            appearance: textfield !important;
        }

        .searchbar-search-button {
            border-inline-end: 1px solid ThreeDShadow !important;
            background: -moz-Dialog var(--navbar-textbox-buttons) repeat-x !important;
            margin-inline-end: 4px !important;

            .searchbar-search-icon {
                margin-inline: 0 !important;
                margin-inline-start: 3px !important;
            }

            .searchbar-engine-button-stack {
                height: 100% !important;
                padding-inline-end: 3px !important;
            }

            .searchbar-search-icon-overlay {
                align-self: center !important;
                margin: 0 !important;
                margin-inline-start: 3px !important;
                width: 5px !important;
                height: 3px !important;
                list-style-image: var(--arrow-dn) !important;
            }

            &[addengines="true"] {
                .searchbar-engine-button-stack {
                    background: transparent #{asset("Search-addengines.png")} no-repeat right center !important;
                }
            }
        }

        .search-go-container {
            .search-go-button {
                display: flex !important;
                width: 16px !important;
                height: 16px !important;
                list-style-image: none !important;
                padding: 0 !important;
                outline: 0 !important;
                border-radius: 0 !important;
                margin: 2px !important;
                background-color: transparent !important;
                background-image: var(--search-glass) !important;
            }

            &:hover {
                .search-go-button {
                    background-position-x: -16px !important;
                }

                &:active {
                    .search-go-button {
                        background-position-x: -32px !important;
                    }
                }
            }
        }
    }

    #nav-bar #go-button {
        display: none !important;
    }

    #PopupAutoCompleteRichResult {
        richlistitem {
            flex-direction: column !important;
            align-items: stretch !important;
            padding: 1px 2px !important;
            border-bottom: 1px solid ThreeDLightShadow !important;

            .ac-type-icon,
            .ac-site-icon,
            .ac-url {
                display: flex !important;
            }
            
        }

        .ac-url {
            margin-bottom: 0 !important;
            white-space: nowrap !important;
            overflow: hidden !important;
            text-overflow: ellipsis !important;
        }

        .ac-url-text {
            color: #0055bb !important;
        }

        richlistitem[selected="true"] {
            .ac-url-text {
                color: inherit !important;
            }
        }

        .ac-site-icon {
            width: 16px !important;
            height: 16px !important;
            margin: 0 5px -3px 3px !important;
            list-style-image: var(--page-icon) !important;
            
            &:-moz-broken {
                list-style-image: var(--page-icon) !important;
            }
        }

        .ac-result-type-bookmark {
            background-image: #{asset("places/editBookmark.png")} !important;
            @media not (-moz-platform: windows-winxp) {
                background-image: #{asset("aero/places/editBookmark.png")} !important;
            }
        }

        span.ac-emphasize-text {
            font-weight: bold !important;
            text-decoration: underline !important;
        }

        span.ac-emphasize-alt {
            text-decoration: underline !important;
        }

        .ac-comment {
            font-size: 1.15em !important;
            margin: 2px 0 0 0 !important;
            padding: 0 !important;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .ac-extra > .ac-comment {
            font-size: inherit !important;
            padding-right: 4px !important;
        }

        .ac-type-icon {
            width: 16px !important;
            height: 16px !important;
            margin: 0 !important;
        }
    }
}