#nameField,
#feedLocationField,
#siteLocationField {
    flex: 1;
    box-sizing: border-box;
}

#folderPicker {
    min-width: 220px;
}

grid {
    display: grid !important;
}

rows {
    flex-direction: column !important;
}

row > label {
    min-width: 71px;
}