@import "mixins";

/* ::::: Firefox 1 ::::: */
$asset-base: "chrome://namoroka/content/firefox-1";

@import "firefox-1/style.uc";

/* ::::: Firefox 2 ::::: */
:root[namoroka-style-1] {
$asset-base: "chrome://namoroka/content/firefox-2" !global;

@import "firefox-2/style.uc";
}

/* ::::: Firefox 3 ::::: */
:root[namoroka-style-2] {
$asset-base: "chrome://namoroka/content/firefox-3" !global;

@import "firefox-3/style.uc";
}

/* ::::: Firefox 3.5 ::::: */
:root[namoroka-style-3] {
$asset-base: "chrome://namoroka/content/firefox-3.5" !global;

@import "firefox-3.5/style.uc";
}