@import url("chrome://global/skin/");
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

:root {
    --warning-large: url("chrome://namoroka/skin/firefox-1/icons/warning-large.png");
}

@media (-moz-pref("Namoroka.Appearance.Style", 1)) {
    :root {
        --warning-large: url("chrome://namoroka/skin/firefox-2/icons/warning-large.png");
    }
}

@media (-moz-pref("Namoroka.Appearance.Style", 2)) {
    :root {
        --warning-large: url("chrome://namoroka/skin/firefox-3/icons/warning-large.png");
    }

    @media not (-moz-platform: windows-winxp) {
        :root {
            --warning-large: url("chrome://namoroka/skin/firefox-3/aero/icons/warning-large.png");
        }
    }
}

#warningScreen {
    background-color: -moz-Dialog;
}

#warningBox {
    background-color: -moz-Field;
    color: -moz-FieldText;
    border: 1px solid ThreeDShadow;
    border-radius: 10px;
    padding: 3em;
    padding-inline-start: 30px;
    margin-left: 1em;
    margin-right: 1em;
}

#warningInnerBox {
    max-width: 50em;
}

#warningTitle {
    margin: 0 0 .6em 0;
    font-size: 160%;
    border-bottom: 1px solid ThreeDLightShadow
}

#warningText {
    font-size: 110%;
    margin-left: 0;
}

#warningButton {
    margin-top: 0.6em;
}

#showWarningNextTime {
    margin-top: 0.6em;
}

#exclam {
    width: 48px;
    height: 48px;
    list-style-image: var(--warning-large);
    margin-inline-end: 3em;
}


#configTreeBody::-moz-tree-cell-text(user) {
    font-weight: bold;
}

#configTreeBody::-moz-tree-cell-text(locked) {
    font-style: italic;
}

#configTree {
    margin-top: 5px;
    margin-bottom: 5px;
}

#filterRow {
    margin-top: 5px;
}